.topbar {
  .pane-search-form {
    @include grid-media($medium){
      order: 4;
    }
  }

  #header {
    @include grid-media($medium){
      order: 1;
    }
  }
}

img {
  max-width: 100%;
}

.pane-user-login {
  @include form-default;
  display: block;
  width: 100%;
  order: 4;
  background: $page-bg;

  .messages {
    margin: 16px 0;
  }
}

.ui-dialog form {
  @include form-default;
}

// Used for testing
.view-articles {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.ui-dialog {
  border-radius: 0;
  background-color: white;
  // Try to make it responsive.
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  top: 100px !important;
  position: absolute !important;

  // Fix the positioning of the close button.
  .ui-dialog-titlebar .ui-dialog-titlebar-close {
    top: 0;
    &:focus {
      outline: none;
    }
  }

  .messages {
    margin: 16px 0;
  }
}

.ui-widget {
  font-family: 'Oxygen', sans-serif;

  input.form-submit,
  #edit-cancel {
    margin-top: 2em;
  }
}
