.topbar {
  .pane-search-form {
    @include grid-media($medium){
      order: 3;
    }
  }

  #header {
    @include grid-media($medium){
      order: 1;
    }
  }
}

img {
  max-width: 100%;
}

.branding {
  border: 1px solid;
  flex: 1;
  height: 6.875rem;
  width: 50%;
}
