.topbar {
  .pane-search-form {
    @include grid-media($medium){
      order: 4;
    }
  }

  #header {
    @include grid-media($medium){
      order: 1;
    }
  }
}

img {
  max-width: 100%;
}

.pane-user-login {
  @include form-default;
  display: block;
  width: 100%;
  order: 4;
  background: $page-bg;

  .messages {
    margin: 16px 0;
  }
}

.ui-dialog form {
  @include form-default;
}

// Used for testing
.view-articles {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.ui-dialog {
  border-radius: 0;
  background-color: white;
  // Try to make it responsive.
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  top: 100px !important;
  position: absolute !important;

  // Fix the positioning of the close button.
  .ui-dialog-titlebar .ui-dialog-titlebar-close {
    top: 0;
    &:focus {
      outline: none;
    }
  }

  .messages {
    margin: 16px 0;
  }
}

.ui-widget {
  font-family: 'Oxygen', sans-serif;
}

div.messages {
  @include content-wrapper;
  padding: 2rem;
  background-color: $color__white;
  // Remove Drupal standard icon.
  background-image: none;
  font-family: $font-regular;
  font-size: 1.2rem;
  color: $color__font-gray--dark;
  line-height: 1.8rem;
  border: 1px solid $color__gray--light;
  // Force long lines to break as to not mess up display on small
  // screens.
  word-wrap: break-word;

  @include grid-media($medium) {
    margin: 1rem auto;
    padding: 2rem;
  }

  &.status {
    background-color: #c5e8c5;
  }

  &.warning {
    background-color: #fdffc7;
  }

  &.error {
    background-color: #ff7562;
  }

  ul {
    margin: 0;
  }
}

.logged-in .pane-page-tabs {
  width: 100%;
  display: block;
  background-color: $color__blue;
  text-align: center;

  a {
    color: $color__white;
    text-decoration: none;
    font-family: $font-semibold;
    font-size: 1.1rem;
  }

  .tabs {
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      padding: .5rem 1rem;
    }
  }
}
