# Ignore configuration files that may contain sensitive information.
sites/*/settings.local.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/breol/
sites/all/modules/ereol/
sites/all/modules/kreol/
sites/all/themes/kreol/

# Do not commit analyse tools
vendor/
