# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.DS_Store
compass_app_log.txt

# Ignore local docker settings.
docker-compose.override.yml
