version: "3"

networks:
  frontend:
    external: true
  app:
    driver: bridge
    internal: false

services:
  mariadb:
    image: mariadb:10.3
    networks:
      - app
    ports:
      - '3306'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: db
      MYSQL_PASSWORD: db
      MYSQL_DATABASE: db
    volumes:
      - .:/app:delegated

  phpfpm:
    image: itkdev/php7.0-fpm:latest
    networks:
      - app
    environment:
      - PHP_XDEBUG=${PHP_XDEBUG:-0}
      - PHP_XDEBUG_REMOTE_AUTOSTART=${PHP_XDEBUG_REMOTE_AUTOSTART:-0}
      - PHP_XDEBUG_REMOTE_HOST=${PHP_XDEBUG_REMOTE_HOST:-0.0.0.0}
      - PHP_XDEBUG_REMOTE_CONNECT_BACK=${PHP_XDEBUG_REMOTE_CONNECT_BACK:-0}
      - PHP_MAIL=1
      - PHP_MAX_EXECUTION_TIME=120
      - PHP_MEMORY_LIMIT=512M
      - PHP_IDE_CONFIG=serverName=localhost
      - DOCKER_HOST_DOMAIN=${COMPOSE_DOMAIN}
    depends_on:
      - mariadb
    volumes:
      - .:/app:delegated

  nginx0:
    image: nginx:latest
    networks:
      - app
      - frontend
    ports:
      - '80'
    depends_on:
      - phpfpm
      - memcached
      - redis
    volumes:
      - ${PWD}/.docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/app:delegated
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}1.rule=Host(`nginx.${COMPOSE_DOMAIN}`)"

  nginx1:
    image: nginx:latest
    networks:
      - app
    ports:
      - '80'
    depends_on:
      - phpfpm
      - memcached
      - redis
    volumes:
      - ${PWD}/.docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/app:delegated

  memcached:
    image: 'memcached:latest'
    networks:
      - app
    ports:
      - '11211'
    environment:
      - MEMCACHED_CACHE_SIZE=64

  redis:
    image: 'redis:5'
    networks:
      - app
    ports:
      - '6379'

  varnish:
    image: 'hermsi/alpine-varnish:6'
    depends_on:
      - nginx0
      - nginx1
    ports:
      - '80'
      - '6082'
    networks:
      - app
      - frontend
    environment:
      VARNISH_PORT: '80'
      VARNISH_VCL_PATH: /etc/varnish/ereolen.vcl
      VARNISH_RAM_STORAGE: 265M
      VARNISHD_OPTS: "-T :6082 -S none"
    volumes:
      - ${PWD}/.docker/ereolen.vcl:/etc/varnish/ereolen.vcl:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_DOMAIN}`)"

  drush:
    image: itkdev/drush6:latest
    networks:
      - app
    depends_on:
      - mariadb
    entrypoint:
      - drush
    volumes:
      - drush-cache:/root/.drush
      - ./:/app

  mailhog:
    image: mailhog/mailhog
    networks:
      - app
    ports:
      - "1025"
      - "8025"
  node:
    image: node:16
    networks:
      - app
    volumes:
      - .:/app:delegated

# Drush cache volume to persist cache between runs.
volumes:
  drush-cache:
