<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="loop">
  <description>PHP CodeSniffer configuration for ereolen base</description>

  <file>sites/all/modules</file>
  <file>sites/all/themes</file>
  <exclude-pattern>sites/all/modules/contrib</exclude-pattern>

  <!-- Show progress -->
  <arg value="p"/>
  <config name="drupal_core_version" value="7"/>
  <rule ref="Drupal">
    <exclude name="Drupal.InfoFiles.AutoAddedKeys.Project"/>
  </rule>
</ruleset>