/**
 * General autocomplete styles.
 */

body #autocomplete {
  li {
    padding: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    background: white;
    text-align: left;

    &.selected {
      background: white;
    }
  }
}