// Add language and icon below cover
.carousel-item-language,
.field-name-ting-details-language .field-item{
  color: $title-color;
  text-decoration: none;
  font-family: $font-light;
  font-size: 12px;
  margin-top: 5px;
  &:before {
    @include icon('flag');
    margin-right: 5px;
    font-size: 10px;
  }
  .material-carousel-colored & {
    color: $white;
  }
}
