#user-login {
  .intro-text {
    line-height: 1.3;
    margin-bottom: 10px;
    .lead {
      margin-bottom: 10px;
    }
  }

  fieldset {
    border: 2px solid $white-dark;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .unilogin-wrapper,
  .adgangsplatformen-wrapper {
    margin-top: 1em;
    // margin-bottom: .5em;

    a {
      @include button($red, false);
      text-align: center;
      margin: 0.5em 0;
    }
  }

  .fieldset-description {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .adgangsplatformen-notification-text {
    a {
      color: $blue-dark;
    }

    ul {
      text-align: left;
    }
  }
}

.ui-dialog form#user-login .form-actions {
  text-align: left;
}

.user-login-form {
  &::after {
    content: "";
    margin-top: 36px;
    display: inline-block;
    background-image: url("../../svg/eReolenGo-Red.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 100%;
  }
}
