/**
 * Quick and dirty theming of object view.
 */
.ting-object-left {
  @include span-columns(3);
  overflow: hidden;
}

.ting-object-right {
  @include shift(1);
  @include span-columns(8);

  // TODO(ts) - resolve this.
  .field-name-ting-type {
    display: none;
  }
}

.ting-object-left {
  @include media($phone) {
    @include span-columns(2);

    .ting-cover {
      overflow: hidden;
    }
  }
}

.ting-object-right {
  @include media($phone) {
    @include span-columns(10);
    margin: 0;
    padding-left: 15px;
  }
}

.group-material-details,
.ting-object-related-item {
  @include span-columns(12);

  // Items.
  .field-label {
    @include span-columns(3);

    @include media($phone) {
      @include span-columns(12);
      font-family: $font-bold;
    }
  }

  .field-items {
    @include span-columns(9);

    @include media($phone) {
      @include span-columns(12);
    }
  }

  &.text {
    // Render text in full width.
    .field-items {
      @include span-columns(12);
    }

    // Overwrite styling from _search.scss.
    .field-name-ting-abstract {
      max-width: initial;
    }
  }

  .field {
    margin: 15px 0;
  }

  .ting-material-detail {
    // Some spacing in multi-item details.
    margin-right: 15px;
  }
}

.ting-object-related-item {
  div,
  a {
    margin: 15px 0;
  }

  a {
    font-family: $font-regular;
    color: $red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.material-item {
  clear: both;
}

.material-item,
.panel-pane {
  @include clearfix;
}

.ting-object {
  @include span-columns(12);
}

.group-material-details,
.ting-object.view-mode-full,
.pane-ting-ting-object-types,
.pane-ting-ting-relation-anchors,
.pane-ting-ting-collection-types,
.ting-object-related-item {
  position: relative;

  h2 {
    @extend %ting-object-main-title;

    a {
      color: $title-color;
      font-weight: normal;
    }

    @include media($phone) {
      line-height: 30px;
      font-size: 17px;
      padding-bottom: 10px;
    }
  }
}

.field-type-ting-entities {
  > .field-items > .field-item {
    h2 {
      color: #646464;
      font-family: "OpenSans Light";
      text-decoration: none;
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

.pane-ting-collection .view-mode-collection-list .field-items .field-item h2 {
  margin-bottom: 0;
}

.group-material-details,
.ting-object-related-item {
  margin-top: 50px;
}

.pane-ting-object,
.pane-ting-collection {
  margin: 60px 0 0;
  line-height: 20px;
  color: $title-color;
  font-family: $font-light;
}

.ting-object-related-item {
  margin: 30px 0 0;
}

.pane-ting-ting-object-types,
.pane-ting-ting-collection-types {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $title-color;

    &:hover {
      color: $green;
    }
  }

  .item-list ul li {
    margin: 15px 0;
    padding: 0;
  }
}

.field-name-ting-subjects {
  a {
    font-family: $font-regular;
    color: $red;
    text-decoration: none;
    margin-right: 1em;

    &:hover {
      text-decoration: underline;
    }
  }
}

.view-mode-collection-list {
  margin-bottom: 50px;
}

.field-name-ding-entity-buttons {
  margin-top: 30px;

  .action-button {
    @include media($phone) {
      @include button-phone();
    }
  }
}

.ting-object-collapsible-enabled {
  h2 {
    &:before {
      @include icon('arrow-right');
      position: absolute;
      right: 30px;
      font-size: 16px;
      top: 28px;
      opacity: 0.7;
      transition: all 300ms ease-out;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  &.open {
    h2 {
      &:before {
        transform: rotate(0deg);
        transition: all 300ms ease-out;
      }
    }
  }
}

.pane-ting-ting-object-types {
  margin-bottom: 150px;
}

.js-online {
  @include media($phone) {
    a {
      font-size: 12px;
      padding: 8px;
      display: block;
      float: none;
      max-width: 100%;
      min-width: 1%;
      width: 100%;
      line-height: 16px;
      text-align: center;
      min-width: 1px;
      width: 100%;

      &:before {
        content: " ";
      }
    }
  }
}

.material {
  &__also_available {
    .item-list,
    ul,
    ul li {
      list-style: none;
      display: inline-block;
      margin: 0;
    }

    ul {
      margin-left: 0.25em;
    }

    margin: 20px 0;
  }
}
