.btn-statistics {
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  width: 23%;
  background-color: transparent;
  color: $title-color;
  font-size: 16px;
  text-align: center;
  line-height: 140%;

  a {
    color: $title-color;
  }
}

.statistics-header {
  padding: 10px 0;
  margin-bottom: 10px;
}

.statistics-municipality-rank .municipality-column {
  text-align: left;
}
