.pane-subject-menu {
  max-width: 1180px;
  margin: 0 auto $mobile-margin;

  .ding-carousel {
    padding-top: 0;
    padding-bottom: 0;

    @include media($tablet-l) {
      padding: 0 60px;

      .button-prev,
      .button-next {
        display: block;
      }

      .button-prev {
        left: $mobile-margin;
      }

      .button-next {
        right: $mobile-margin;
      }
    }
  }

  .ding-carousel-item {
    margin: 0;
    width: calc(25% - 40px); // Calc width without margin that swiper adds. 40px is the spacing set in swiper conf.(sites/all/modules/reol_carousel/js/reol_carousel.js - spaceBetween: 40)
    height: auto;
    min-width: auto;

    @include media($phone) {
      width: calc(50% - 20px); // Calc width without margin that swiper adds. 20px is the spacing set in swiper conf.(sites/all/modules/reol_carousel/js/reol_carousel.js - spaceBetween: 20)
    }
  }

  .carousel {
    margin-bottom: 0;
  }

  .article {
    padding-bottom: 0;
  }

  .node-breol-subject {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0;

    img {
      height: auto;
      width: 100%;
      margin: 0 auto;
      transition: all 0.3s ease-out;
    }

    .is-desktop &:nth-child(odd):hover {
      img {
        transform: scale(1.2);
      }
    }

    .is-desktop &:nth-child(even):hover {
      img {
        animation: shake 0.5s ease-in-out;
      }
    }
  }

  .subject-menu__title {
    color: $title-color;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: $font-bold;
  }

  .subject-menu__link {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &,
    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}

// To keep element from blinking while loading.
.pane-subject-menu {
  min-height: 200px;

  @include media($phone) {
    min-height: 1px;
  }
}
