/* Unilogin link theming. */

.unilogin-button,
.ui-dialog a.unilogin-button,
.adgangsplatformen-button,
.ui-dialog a.adgangsplatformen-button {
  color: $title-color;

  .unilogin-logo {
    font-family: Arial;
    font-weight: bold;
  }
}
