@import 'reset';
@import 'bootstrap/bootstrap';

* {
  -webkit-font-smoothing: antialiased;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: $page-bg;
}
