@import 'reset';
@import 'bootstrap/bootstrap';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: $page-bg;
}

.desktop-only {
  @include grid-media($mobile-only) {
    display: none !important;
  }
}

.mobile-only {
  @include grid-media($medium) {
    display: none !important;
  }
}
