@import 'bootstrap/bootstrap';

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;

  @include grid-media($medium) {
    margin: 2rem auto;
  }
}

.content-wrapper {
  @include content-wrapper;
}
