/*
 * Styling of a single ting object (i.e. not in a collection).
 */
.pane-ting-object {
  .ting-object.view-mode-full {
    --spacer: 12px;
    --spacerX2: calc(var(--spacer) * 2);
    --color-grey-300: #c8c8c8;
    --color-grey-700: #646464;

    .ting-object-wrapper {
      display: grid;
      grid-template-columns: 4fr 8fr;
      grid-template-areas:
        "left right"
        "bottom bottom";
      gap: var(--spacerX2);
      margin: var(--spacerX2) 0;

      @include media($phone) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "left"
          "right"
          "bottom";
      }
    }

    .ting-object-col-1,
    .ting-object-col-2,
    .ting-object-bottom {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacer);
      margin-top: var(--spacer);
    }

    .ting-object-col-1 {
      grid-area: left;
    }

    .ting-object-col-2 {
      grid-area: right;
    }

    .ting-object-bottom {
      grid-area: bottom;
    }

    .ting-object-cover .type-icon:after {
      @include media($phone) {
        right: var(--spacer);
        bottom: var(--spacer);
        height: 40px;
        width: 40px;
        font-size: 20px;
      }
    }

    .ting-object-buttons a.action-button {
      width: 100%;
    }

    .ting-object-type {
      display: none; /* TODO: Hidden? Maby because we only operate with online books?*/
    }

    .ting-object-title h2 {
      line-height: 1.25;
    }

    .ting-object-author {
      border-top: 1px solid var(--color-grey-300);
    }

    .ting-object-description {
      margin-top: var(--spacer);

      p {
        font-size: calc(calc(16 / 16) * 1rem); /* 16px font-size */
      }
    }

    .ting-object-subjects {
      display: flex;
      color: var(--color-grey-700);
      column-gap: var(--spacer);

      .field-name-ting-subjects {
        .field-item {
          display: flex;
          column-gap: var(--spacer);
          row-gap: var(--spacer);
          flex-wrap: wrap;
        }

        a {
          font-family: $font-regular;
          color: $red;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .ting-object-details {
      .collapsible-content-wrapper {
        margin: var(--spacer) 0;
        display: flex;
        flex-direction: column;

        > .field {
          display: grid;
          grid-template-columns: 4fr 8fr;
          column-gap: var(--spacerX2);
          padding: var(--spacer) 0;
        }

        .field-name-ting-details-language .field-item {
          color: revert;
          font-family: revert;
          font-size: revert;
          line-height: revert;

          &:before {
            display: none;
          }
        }
      }
    }

    .ting-object-collapsible-enabled {
      h2 {
        position: relative;
        font-size: calc(calc(24 / 16) * 1rem); /* 24px font-size */
        color: var(--color-grey-700);
        font-family: "OpenSans Light";
        padding: 20px 0;
        border-bottom: 1px solid var(--color-grey-300);
        margin: 0;
        line-height: 1.25;
        cursor: pointer;

        a {
          color: inherit;
          font-weight: normal;
        }

        @include media($phone) {
          line-height: 1.5;
          font-size: 17px;
          padding-bottom: 10px;
        }

        &:before {
          @include icon("arrow-right");
          position: absolute;
          right: 30px;
          font-size: 16px;
          top: 28px;
          opacity: 0.7;
          transition: all 300ms ease-out;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }

      &.open {
        h2 {
          &:before {
            transform: rotate(0deg);
            transition: all 300ms ease-out;
          }
        }
      }
    }
  }
}
