@import 'bootstrap/bootstrap';

.view-articles,
.view-ereol-search {
  .view-header {
    @include page-header;
  }

  .view-content {
    border-top: 1px solid $color__border-gray;
    border-bottom: 1px solid $color__border-gray;

    .views-row {
      // Apparently doesn't match padding/gutter.
      margin-top: 50px;
      // Relying on collapsing margins here.
      margin-bottom: 50px;
    }
  }

  .pager {
    padding: 3.75rem 0;
  }
}
