@import 'bootstrap/bootstrap';

$teaser-bg-default: #393939;

.article {
  font-family: $font-regular;

  &__content {
    padding: 2rem 2rem 0;

    @include grid-media($medium) {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 3.5rem;
      padding-top: 0;
    }
  }

  &__title {
    font-family: $font-light;
    font-size: 2rem;
    margin: 3rem;
    text-align: center;

    @include grid-media($medium) {
      width: 100%;
      order: 1;
      margin: 0 0 3rem;
      text-align: left;
    }
  }

  &__byline {
    width: 100%;
    overflow: hidden;
    font-family: $font-regular;
    color: $color__font-gray;
    line-height: $line-height__default;

    &__date {
      float: left;
      font-family: $font-semibold;
      color: $color__font-gray--dark;

      @include grid-media($medium) {
        display: block;
        float: none;
      }
    }

    &__author {
      float: right;

      @include grid-media($medium) {
        display: block;
        float: none;
      }
    }

    @include grid-media($medium) {
      padding-right: 3.5rem;
      order: 2;
      width: 17%;
    }
  }

  &__body {
    padding-bottom: 3.5rem;

    @include grid-media($medium) {
      order: 3;
      width: 83%;
      padding-bottom: 0;
    }
  }

  &__image {
    padding: 2rem 2rem 0;
    margin-bottom: 1.5rem;

    * {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: top;
    }

    @include grid-media($medium) {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 5rem;
      height: 400px;
    }
  }

  &__materials {
    background-color: #e6e6e6;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    padding: 2rem;

    & .field-item:last-child {
      .material--teaser {
        border: none;
      }
    }

    .view-mode-teaser {
      @include grid-media($large) {
        width: 83%;
        float: right;
      }
    }

    @include grid-media($medium) {
      padding: 2rem 0;
    }
  }
}

.article--teaser {
  display: block;
  // TODO: this should be the light version
  height: 440px;
  padding: 2rem 4rem;
  color: white;
  // TODO: random color in design?
  background-color: $teaser-bg-default;

  a {
    color: white;
    text-decoration: none;
  }

  &__title {
    position: relative;
    max-width: 600px;
    margin: 0 auto 2rem;
    // TODO: this doesn't make sense at the moment.
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
    font-family: $font-light;
    text-shadow: 0 0 6px rgba(0,0,0,.78);

    .article--teaser--image & {
      float: left;
      text-align: left;
    }

    @include grid-media($medium) {
      max-width: 100%;
      margin: 0 0 1.2rem;
      text-align: left;
    }
  }

  &__body {
    position: relative;
    // Not displayed on mobile.
    display: none;
    margin: 0 0 2rem;
    opacity: 0.5;
    font-family: $font-regular;
    line-height: 1.4rem;

    @include grid-media($medium) {
      display: block;
    }
  }

  &__covers {
    position: relative;
    height: 100vw;
    max-height: 360px;
    max-width: 400px;
    margin: auto;

    img:nth-child(1) {
      position: absolute;
      width: 59%;
      height: 212px;
      max-width: 17rem;
      left: 2%;
      object-fit: cover;
      transform: translate(0%, 0%) rotate(0deg) scale(1);
      z-index: 2;
      box-shadow: 11px -1px 28px -13px rgba(0,0,0,0.75);

      @include grid-media($xsmall) {
        height: 335px;
      }

      @include grid-media($medium) {
        transform: translate(59%, 0%) rotate(0deg) scale(1);
        box-shadow: -11px -1px 28px -13px rgba(0,0,0,0.75);
      }
    }

    img:nth-child(2) {
      position: absolute;
      height: 136px;
      width: 39%;
      max-width: 12.5rem;
      object-fit: cover;
      transform: translate(150%, 39%) rotate(0deg) scale(1);
      z-index: 1;

      @include grid-media($xsmall) {
        height: 229px;
      }

      @include grid-media($medium) {
        transform: translate(0%, 39%) rotate(0deg) scale(1);
      }
    }
  }

  &__label {
    position: relative;
    margin-bottom: 1rem;
    color: $color__white;
    font-size: 1rem;
    font-family: $font-semibold;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(0,0,0,.78);
  }

  &__read-more {
    position: relative;
    // Not displayed on mobile.
    display: none;
    appearance: none;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.7rem 1.2rem;
    font-family: $font-semibold;
    color: $color__white;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-shadow: 0 0 6px rgba(0,0,0,.78);
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }

    .article--teaser--image & {
      float: right;
    }

    @include grid-media($medium) {
      display: block;
    }
  }

  @include grid-media($xsmall) {
    height: 475px;
    padding: 2rem;
  }

  &__left,
  &__right {
    @include grid-media($medium) {
      float: left;
      width: 50%;
      margin: 0;
    }
  }

  &__info {

    .article--teaser--image & {
      padding: 0 2rem;
    }

    @include grid-media($medium) {
      height: 100%;
      display: flex;
      align-items: center;

      &__inner {
        width: 100%;
        padding: 2rem;
      }
    }

    .article--teaser--image & {
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

  &--image {
    padding: 0;
  }

  &__cover {
    position: absolute;
    height: 440px;
    width: 1200px;
    max-width: 100%;

    * {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: top;
    }

    @include grid-media($medium) {
      height: 475px;
    }
  }
}

.field-name-field-article-image {
  img {
    object-fit: cover;
    height: 475px;
    display: block;
  }
}
