@import 'bootstrap/bootstrap';

.btn {
  @include button;
  color: $color__white !important;
  text-decoration: none;
  position: relative;

  @include grid-media($medium) {
    width: auto;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  &.a {
    color: inherit !important;
  }
}


.btn--loan {
  &::before {
    @include icon;
    content: $icon__chevron-right;
    position: absolute;
    right: 0.5rem;
  }
}

.btn--try {
  background-color: transparent;
  color: $color__font-gray--dark !important;
  border: 1px solid $color__gray--light;

  &::before {
    @include icon;
    content: $icon__eye;
    position: absolute;
    right: 0.5rem;
    top: 12px;
    font-size: 2rem;
  }
}
