@import 'bootstrap/bootstrap';

.ding-carousel .slick-arrow {
  background: $page-bg;
  border: 1px solid $color__border-gray--light;
  border-radius: 1px;
  font-size: 0;
  padding: .75rem;
  position: absolute;
  bottom: 30px;
  // Ensure that buttons is above the carousel.
  z-index: 1;

  &::before {
    @include icon;
    color: $color__dark;
    font-size: .75rem;
    text-indent: 0;
  }

  &.slick-prev {
    left: 30px;

    &::before {
      content: $icon__arrow-left;
    }
  }

  &.slick-next {
    right: 30px;

    &::before {
      content: $icon__arrow-right;
    }
  }

  @include grid-media($medium) {
    // Move up on non-mobile to account for the author and title.
    bottom: 90px;
  }
}

.ding-carousel-item {
  padding-left: 20px;

  @include grid-media($medium) {
    padding-left: 40px;
  }

  @include grid-media($large) {
    padding-left: 60px;
  }
}
