@import 'bootstrap/bootstrap';

.ding-carousel {
  @include content-wrapper;

  padding: 10px 0;

  @include grid-media($medium) {
    padding: 20px 0;
  }

  .slick-arrow {
    background: $page-bg;
    border: 1px solid $color__border-gray--light;
    border-radius: 1px;
    font-size: 0;
    padding: .75rem;
    position: absolute;
    bottom: 30px;
    // Ensure that buttons is above the carousel.
    z-index: 1;
    // But don't display per default (mobile first). And we have to use
    // important because Slick sets the display on the element.
    display: none !important;

    @include grid-media($medium) {
      // Move up on non-mobile to account for the author and title.
      bottom: 90px;
      // Show arrows on larger sizes.
      display: inline-block !important;
    }

    &::before {
      @include icon;
      color: $color__gray;
      font-size: .75rem;
      text-indent: 0;
    }

    &.slick-prev {
      left: 30px;

      &::before {
        content: $icon__arrow-left;
      }
    }

    &.slick-next {
      right: 30px;

      &::before {
        content: $icon__arrow-right;
      }
    }
  }

  .slick-dots {
    background-color: $color__gray--dark;
    padding: $padding__default 0;
    width: 100%;
    text-align: center;

    // Hide generally. We'll add overrides for specific carousels later.
    // scss-lint:disable ImportantRule
    display: none !important;

    li {
      display: inline-block;
    }

    button {
      background: none;
      border: 0;
      font-size: 0;

      &::before {
        @include icon;
        content: $icon__circle;
        color: $color__gray;
        font-size: .75rem;
        text-indent: 0;
      }
    }

    .slick-active button::before {
      color: $color__gray--light;
    }
  }

  .carousel__header {
    @include base-header;
    margin-left: 20px;

    @include grid-media($medium) {
      margin-left: 40px;
    }

    @include grid-media($large) {
      margin-left: 60px;
    }

    // Don't show header for the article carousel on the article page.
    .article__other-articles & {
      display: none;

      @include grid-media($medium) {
        display: block;
      }
    }
  }

  .carousel__more-link {
    @include outline-button($color__font-gray--dark, $color__border-gray--dark);
    float: right;
    margin-top: -.4rem;
  }
}

.ding-carousel-item {
  padding-left: 20px;

  @include grid-media($medium) {
    padding-left: 40px;
  }

  @include grid-media($large) {
    padding-left: 60px;
  }
}

// Paragraph specific tweaks.
.paragraphs-item-article-carousel,
.article__other-articles {
  .ding-carousel-item {
    width: 100vw;
    padding-left: 0;

    @include grid-media($medium) {
      width: auto;
      padding-left: 40px;
    }

    @include grid-media($large) {
      padding-left: 60px;
    }
  }

  // Show dots.
  .slick-dots {
    // scss-lint:disable ImportantRule
    display: block !important;

    // ..but not on desktop.
    @include grid-media($medium) {
      // scss-lint:disable ImportantRule
      display: none !important;
    }
  }
}

// scss-lint:disable MergeableSelector
// Content specific tweaks.
.ding-carousel .article-placeholder {
  // Hide the read more "link".
  .article--teaser__read-more {
    display: none;
  }
}

// The following has been taken from ding_carousel.css. This avoils load jumping.
.ding-carousel {
  // Hide the overflow of the extra wide ul below.
  overflow: hidden;
}

.ding-carousel ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  // Set the width to ensure (within reason) that all covers are
  // rendered on one line, let the parent clip. It is restored to 100%
  // by the JS before activating the carousel.
  width: 8000px;
}

.ding-carousel li {
  display: inline-block;
}
