@import 'bootstrap/bootstrap';

.ding-carousel .slick-arrow {
  background: $page-bg;
  border: 1px solid $icon-color;
  border-radius: 1px;
  font-size: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  // Ensure that buttons is above the carousel.
  z-index: 1;

  &.slick-prev {
    left: 30px;
  }

  &.slick-next {
    right: 30px;
  }

  &::before {
    @include icon;
    content: $icon__play;
    color: $icon-color;
    font-size: 28px;
    text-indent: 0;
  }

  @include grid-media($medium) {
    // Move up on non-mobile to account for the author and title.
    bottom: 90px;
  }
}

.ding-carousel-item {
  padding-right: 32px;

  @include grid-media($medium) {
    padding-right: 40px;
  }

  @include grid-media($large) {
    padding-right: 60px;
  }
}
