$menu-height: 5rem;

.menu-name-main-menu {
  height: $menu-height;
  background-color: $red;

  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 5vw;
    list-style-type: none;
  }

  li {
    align-content: center;
    align-items: center;
    display: inline-block;

    a {
      color: white;
      text-decoration: none;
      font-family: $font-regular;
      font-weight: bold;
      font-size: 1rem;

      @include grid-media($medium) {
        color: $font-menu__gray;
        font-weight: 700;
        line-height: $menu-height;
        padding: 2.5rem;

        &:hover {
          background: $page-bg;
        }
      }
    }

    @include grid-media($medium) {
      height: 100%;
    }
  }

  @include grid-media($medium){
    background-color: transparent;
  }
}
