
.ting-cover-wrapper,
.linkbox {
  // Establish a positioning context for the type icons.
  position: relative;
}

.overlay-icons {
  position: absolute;
  width: 100%;
  top: 1rem;
  padding-right: 1rem;
  text-align: right;
  line-height: 2rem;

  .icon::before {
    @include icon;
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #eee;
    color: $color__font-gray;
    font-size: 1rem;
    margin-left: .5rem;
  }

  .ebook::before {
    content: $icon__badge-ebook;
  }

  .audiobook::before {
    content: $icon__badge-sound;
  }

  .quota::before {
    content: $icon__quota;
  }

  .link::before {
    content: $icon__link;
    // Special color, for some odd reason.
    color: #db2b52;
  }
}
