
.ting-cover-wrapper,
.linkbox {
  // Establish a positioning context for the type icons.
  position: relative;
}

.overlay-icons {
  position: absolute;
  top: 2rem;
  right: 1rem;

  .icon::before {
    @include icon;
    padding: .5rem;
    background-color: $color__white;
    border-radius: 50%;
    color: $color__font-gray;
    font-size: 1rem;
    margin-left: .5rem;
  }

  &.no-quota .icon::before {
    background-color: $color__quota;
    color: $color__white;
  }

  .ebook::before {
    content: $icon__badge-ebook;
  }

  .audiobook::before {
    content: $icon__badge-sound;
  }

  .podcast::before {
    content: $icon__badge-podcast;
  }

  .link::before {
    content: $icon__link;
    color: $color__link__default;
  }
}
