@import 'bootstrap/bootstrap';

.fa-star-o {
  color: rgba(0, 0, 0, .2);
  font-size: 1.1rem;

  &::before {
    content: '\f005';
  }

  &.active {
    color: $color__green;
  }
}

.star {
  margin-right: .3rem;
}
