@import 'bootstrap/bootstrap';

.recommended-material a {
  text-decoration: none;
  color: black;
}

.recommended-material__wrapper {
  padding: 20px;
  background-color: $color__gray-darker;
  display: flex;
  flex-flow: row nowrap;

  @include grid-media($medium) {
    padding: 40px;
  }

  .field-type-ting-cover {
    @include box-cover;
  }
}

.recommended-material__details {
  padding-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: $color__font-gray--dark;
  // IE10/11 fix. Container overflows if not limited.
  width: 100%;

  .field-name-field-rec-title {
    text-transform: uppercase;
    font-family: $font-semibold;
    font-size: .8rem;
    margin-top: .2rem;

    @include grid-media($medium) {
      font-size: 1rem;
    }
  }

  .field-name-ting-title {
    @include fadeout-box(1.1rem, 4, h2, $color__gray-darker);
    font-family: $font-light;
    font-size: 1.1rem;
    margin-bottom: .5rem;

    @include grid-media($medium) {
      @include fadeout-box(1.5rem, 3, h2, $color__gray-darker);
      font-size: 1.5rem;
    }
  }

  .field-name-ting-author {
    font-family: $font-light;
    font-size: .8rem;
    color: $color__font-gray;
    margin-bottom: .5rem;
  }
}
