@import 'bootstrap/bootstrap';

.review {
  // Establish a positioning context for the type icons.
  position: relative;

  a {
    text-decoration: none;
    color: black;
  }

  .review__wrapper {
    padding: $padding__default;
    background-color: $color__boxes-bg;
    display: flex;
    flex-flow: row nowrap;
  }

  .review__content {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    // Hide the cover for desktop per default.
    .field-name-ting-cover {
      display: none;
    }
  }

  .field-name-ting-cover {
    height: 140px;
    margin-right: $gutter__default;
    flex: none;

    @include grid-media($medium) {
      height: 280px;
      margin-right: $gutter__medium;
    }

    img {
      width: auto;
      max-width: inherit;
      max-height: 140px;

      @include grid-media($medium) {
        max-height: 280px;
      }
    }
  }

  .review__head,
  .review__meta {
    flex: 1 1 50%;
    color: $color__font-gray--dark;
  }

  .review__meta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  h4 {
    text-transform: uppercase;
    font-family: $font-semibold;
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: .9rem;

    @include grid-media($medium) {
      font-size: 1rem;
    }
  }

  .review__subhead {
    font-family: $font-regular;
    font-size: .7rem;

    @include grid-media($medium) {
      font-size: 1rem;
    }

    .review__highlight {
      color: $color__red;
    }
  }

  .field-name-ting-title {
    font-family: $font-light;
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }

  .field-name-ting-author {
    font-family: $font-light;
    font-size: .8rem;
    color: $color__font-gray;
    margin-bottom: .5rem;
  }

  @include grid-media($medium) {

    .review__wrapper {
      padding: $padding__medium;
    }

    // Hide the mobile cover.
    .review__cover {
      display: none;
    }

    // Show the desktop cover.
    .review__content .field-name-ting-cover {
      // Reset forced height on the cover.
      height: auto;
      display: block;
      padding: 50px 0;
      margin: 0;

      .ting-cover {
        display: flex;
        justify-content: center;
      }

      img {
        height: 225px;
        flex: none;
      }
    }

    .review__meta {
      justify-content: inherit;
    }

    .review__head,
    .review__meta {
      // Reset flex-basis so IE gets it.
      flex: 1 1 auto;
    }

    .field-name-ting-title,
    .field-name-ting-author {
      font-family: $font-regular;
      font-size: 1rem;
    }

    .field-name-ting-author {
      font-family: $font-light;
    }
  }
}
