@import 'bootstrap/bootstrap';

$color__search-form: #d8d8d8;
$item-height: 5rem;
$icon-color: #9c9c9c;

.pane-search-form {
  height: $item-height;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;

  @include grid-media($medium) {
    position: relative;
    height: auto;
    width: 100%;
    top: auto;
    right: auto;
  }
}

.search-form {
  font-family: $font-regular;

  .page-search & {
    @include grid-media($medium) {
      background-color: $color__red;
    }
  }

  &__icon__wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $item-height;
    justify-content: center;

    &::before {
      @include icon;
      position: relative;
      top: -3px;
      right: 3px;
      color: $color__icon--light;
      content: $icon__search;
      font-size: 2rem;

      @include grid-media($medium) {
        color: $color__white;
        font-size: 1.5rem;
        position: relative;
        top: 3px;
      }
    }

    &.open {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;

      @include grid-media($medium) {
        height: 2rem;
        left: calc(50% - 1rem);
        position: relative;
        width: 2rem;
      }

      &::before {
        position: relative;
        content: '\ea0f';
        font-size: 1.5rem;
        right: 1.3rem;

        @include grid-media($medium) {
          position: relative;
          font-size: 1rem;
          top: 8px;
          right: 0;
        }
      }
    }

    @include grid-media($medium) {
      background: $color__red;
      display: block;
      height: 2rem;
      text-align: center;
    }

    // Hide on search page.
    .page-search & {
      display: none;
    }
  }

  &__icon {
    width: auto;

  }

  &__content {
    background: $color__white;
    display: none;
    height: $item-height;
    left: 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;

    @include grid-media($medium) {
      @include content-wrapper__large;
    }

    // Show always on search page.
    .page-search & {
      display: block;
      z-index: 1;

      @include grid-media($medium) {
        height: auto;
        padding: 1.2rem;
        background-color: $color__red;
      }

      .form-item-search-block-form {
        &::before {
          @include icon;
          content: $icon__search;
          position: absolute;
          color: $color__font-gray;
          top: 27px;
          left: 7px;
          font-size: 1.5rem;

          @include grid-media($medium) {
            top: 21px;
            color: $color__white;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  &__input--text {
    border: 0;
    box-sizing: border-box;
    color: $color__gray;
    display: block;
    font-family: $font-light;
    font-size: 2rem;
    height: $item-height;
    padding: 0 1rem;
    width: 100%;

    @include grid-media($medium) {
      padding: 0 1.875rem;
    }

    .page-search & {
      padding-left: 3rem;

      @include grid-media($medium) {
        height: auto;
        background: $color__red;
        color: $color__white;
        font-size: 1.3rem;
        font-family: $font-regular;

        &::placeholder {
          color: $color__white;
        }
      }
    }
  }

  &__icon--close {
    background: $color__red;
    height: 2rem;
    position: fixed;
    right: 1rem;
    width: 2rem;

    @include grid-media($medium) {
      right: auto;
      left: calc(50% - 1rem);
    }

    &::before {
      @include icon;
      color: $color__white;
      content: $icon__cross;
      font-size: 1rem;
      left: .5rem;
      position: absolute;
      top: .5rem;
    }
  }

  @include grid-media($medium) {
    border-top: 1px solid $color__search-form;
  }
}

html.js input.form-autocomplete {
  background-image: none;
}

// Search page.
.page-search-ting {

  // TODO(ts) - resolve.
  &.not-logged-in .pane-page-tabs {
    display: none;
  }

  .pane-page-content {
    @extend .page-wrapper;
    padding: 0 2rem;
  }

  .panel-col-first {
    @include grid-media($mobile-only) {
      width: 100%;
      background-color: rgba(250, 250, 250, .9);
    }

    @include grid-media($medium) {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      float: left;
      width: 300px;
      border-right: 1px solid $color__border-gray;
    }

    @include grid-media($large) {
      width: 410px;
    }
  }

  .panel-col-last {
    width: 100%;

    @include grid-media($medium) {
      width: auto;
      padding-left: 3.5rem;
      overflow: hidden;
    }
  }

  .page-title {
    @include title;
    padding: 0 2rem;
    background: $page-bg;
    display: none;

    @include grid-media($medium) {
      display: block;
    }
  }
}

.search-results {
  padding: 2rem 0 0;

  .pager {
    padding: 3.75rem 0;
  }
}
