
.spotlight-box {
  @include content-wrapper;
}

// IE always uses box-sizing: content-box for flex items, causing it
// to miscalculate the widths when there's a padding/border. Adding
// the needed space as margin to the contained element makes it able
// to calculate the proper width.
.spotlight-box__item {
  margin-top: $gutter__default / 2;
  margin-bottom: $gutter__default / 2;

  @include grid-media($medium) {
    margin-top: $gutter__medium / 2;
    margin-bottom: $gutter__medium / 2;
  }
}

// Remove the outer right and left margins in desktop mode.
@include grid-media($medium) {
  .spotlight-box__top__primary .spotlight-box__item,
  .spotlight-box__middle__item_1 .spotlight-box__item,
  .spotlight-box__bottom__item_1 .spotlight-box__item {
    margin-left: 0;
  }

  .spotlight-box__top__secondary .spotlight-box__item,
  .spotlight-box__middle__item_3 .spotlight-box__item,
  .spotlight-box__bottom__item_2 .spotlight-box__item {
    margin-right: 0;
  }
}

.spotlight-box__top,
.spotlight-box__middle,
.spotlight-box__bottom {
  display: flex;
  flex-wrap: wrap;
}

// Don't wrap on bigger screens.
@include grid-media($medium) {
  .spotlight-box__top,
  .spotlight-box__middle,
  .spotlight-box__bottom {
    display: flex;
    flex-wrap: nowrap;
  }
}

// Mobile first implementation, but desktop first design. Explains why
// this is more fiddly that it should be.

// Show primary and secondary full width.
.spotlight-box__top__primary {
  flex-basis: 100%;
}

.spotlight-box__top__secondary {
  flex-basis: 100%;
}

// 2/3 to primary, the rest to secondary.
@include grid-media($medium) {
  .spotlight-box__top {
    flex-wrap: nowrap;
  }

  .spotlight-box__top__primary {
    flex: 0 0 percentage(2 / 3);
    padding-right: ($gutter__medium / 2);
  }

  .spotlight-box__top__secondary {
    display: block;
    flex: 0 0 percentage(1 / 3);
    padding-left: ($gutter__medium / 2);
  }
}

// Full width on very small screens.
.spotlight-box__middle__item_1 {
  flex-basis: 100%;
  order: 1;
}

.spotlight-box__middle__item_2 {
  flex-basis: 100%;
  order: 3;
}

.spotlight-box__middle__item_3 {
  flex-basis: 100%;
  order: 2;
}

// Item 1 and 2 at half width, 2 at full.
@include grid-media($small) {
  .spotlight-box__middle__item_1 {
    flex-basis: percentage(1 / 2);
    padding-right: ($gutter__default / 2);
  }

  .spotlight-box__middle__item_3 {
    flex-basis: percentage(1 / 2);
    padding-left: ($gutter__default / 2);
  }
}

// All on one row.
@include grid-media($medium) {
  .spotlight-box__middle__item_1 {
    flex-basis: percentage(1 / 3);
    order: 1;
    padding-right: ($gutter__medium / 2);
  }

  .spotlight-box__middle__item_2 {
    flex-basis: percentage(1 / 3);
    order: 2;
    padding-left: ($gutter__medium / 2);
    padding-right: ($gutter__medium / 2);
  }

  .spotlight-box__middle__item_3 {
    flex-basis: percentage(1 / 3);
    order: 3;
    padding-left: ($gutter__medium / 2);
  }
}

// Full width on small screens.
.spotlight-box__bottom__item_1,
.spotlight-box__bottom__item_2 {
  flex-basis: 100%;
}

// Side by side on bigger.
@include grid-media($medium) {
  .spotlight-box__bottom__item_1 {
    flex-basis: percentage(1 / 2);
    padding-right: ($gutter__medium / 2);
  }

  .spotlight-box__bottom__item_2 {
    flex-basis: percentage(1 / 2);
    padding-left: ($gutter__medium / 2);
  }
}
