@import 'bootstrap/bootstrap';

.text {

  font-family: $font-regular;

  p {
    @include text-paragraph;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-light;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    @include header;
  }

  h4 {
    @include sub-header;
  }

  a {
    color: $color__link__default;
    text-decoration: none;

    &:hover {
      color: $color__blue;
    }
  }

  ul {
    margin: 2rem 0 2rem 2rem;
    line-height: 1.5rem;
    color: $color__font-gray;

    li::before {
      content: "\2014";
      margin-right: 1rem;
    }
  }
}

.highlight {
  color: $color__red;
}
