@import 'bootstrap/bootstrap';

$material--teaser__margin-bottom: 1.2rem;

.material {
  padding: 2rem 0;
  border-bottom: 1px solid $color__border-gray;

  @include grid-media($medium) {
    margin: 2rem 0;
    padding: 0 0 2rem;
  }
  &__aside {
    float: left;
    width: 100%;
    @include grid-media($small) {
      width: 33.333336%;
    }
    @include grid-media($medium) {
      width: 33.333336%;
    }
  }
  &__cover {
    width: 100%;
    float: left;
    margin-bottom: $material--teaser__margin-bottom;

    // Placeholder until cover loads.
    .ting-cover {
      min-height: 150px;
      background-image: url('../images/placeholder.png');
      background-repeat: no-repeat;
      background-position: center center;
    }

    @include grid-media($small) {
      margin-bottom: 0;

      img {
        width: auto;
      }
    }

    @include grid-media($medium) {
      padding-right: 2.5rem;
    }

    img {
      width: 100%;
    }

    &--teaser {
      @include grid-media($medium) {
        width: percentage(1 / 4);
        padding-right: 0;
      }
    }
  }

  &__content {
    width: 66.666663%;
    float: left;
    margin-bottom: $material--teaser__margin-bottom;

    @include grid-media($small) {
      padding-left: 2rem;
      width: 100%;
      margin-bottom: 0;
    }

    @include grid-media($medium) {
      padding-left: 3.5rem;
      width: percentage(2 / 3);
    }

    &--teaser {
      @include grid-media($medium) {
        width: percentage(3 / 4);
      }
    }
  }

  &__title {
    margin-bottom: $material--teaser__margin-bottom;
    font-size: 2.1rem;

    // Don't display material types on collections.
    .search-result--heading-type {
      display: none;
    }

    a {
      text-decoration: none;
      font-family: $font-light;
      color: $color__font-gray;
      overflow-wrap: break-word;
    }
  }

  &__author {
    color: $color__gray;
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 1rem;
    line-height: $line-height__small;
    margin-bottom: $material--teaser__margin-bottom / 2;

    a {
      text-decoration: none;
      color: $color__gray;
    }
  }

  &__language {
    color: $color__gray;
    line-height: $line-height__small;
    font-size: 14px;
    margin-bottom: $material--teaser__margin-bottom / 2;

    &::before {
      @include icon;
      color: $color__font-gray;
      font-size: 14px;
      margin-right: 0.2rem;
      content: $icon__language;
    }
  }

  &__abstract {
    @include text-paragraph;
    margin-bottom: $material--teaser__margin-bottom;
    @include grid-media($medium) {
      display: block;
    }
    position: relative;
    max-height: 150px;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0, 1, 0, 1);
    &.showmore {
      padding-bottom: 30px;
      &-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 30px;
        width: 100%;
      }
      &:before {
        content: "";
        height: 30px;
        width: 100%;
        border-top: 1px solid #dcdcdc;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
      &:after {
        @include icon;
        content: $icon__chevron-down;
        position: absolute;
        right: calc(50% - 12px);
        bottom: 0;
        font-size: 1.5rem;
        width: 24px;
        cursor: pointer;
      }
      &.visible {
        max-height: 100%;
        overflow: visible;
        transition: max-height .5s ease-out;
        &:after {
          content: $icon__chevron-up;
        }
      }
    }
  }

  &__subjects {
    // Not displayed on mobile.
    display: none;
    margin: 2rem 0 $material--teaser__margin-bottom;

    @include grid-media($medium) {
      display: block;
    }

    .subject {
      background-color: $color__gray--light;
      border-radius: 20px;
      color: $color__font-gray--dark;
      text-decoration: none;
      padding: 5px 20px;
      margin: 0 1rem 1rem 0;
      display: inline-block;

      &:hover {
        background-color: $color__font-gray;
        color: $color__white;
      }
    }
  }

  &__rating {
    margin: .3rem 0 $material--teaser__margin-bottom;
  }

  &__series {
    float: left;
    width: 50%;
    font-family: $font-regular;
    color: $color__font-gray;
    clear: left;
    line-height: $line-height__small;

    @include grid-media($medium) {
      width: 100%;
      margin-top: 0;
      margin-bottom: .5rem;
      clear: none;
    }

    a {
      text-decoration: none;
      color: $color__red;
    }

    .field-label {
      color: $color__gray;
      font-family: $font-semibold;
      font-weight: normal;
      float: left;
      margin-right: 1rem;
    }
  }

  &__also_available {
    font-family: $font-regular;
    margin-bottom: $material--teaser__margin-bottom;
    .item-list,
    ul,
    li {
      display: inline-block;
    }

    a {
      color: $color__link__default;
    }
  }

  &__buttons {
    @include grid-media($medium) {
      float: left;
      width: 100%;
      clear: left;
      padding-right: 2.5rem;
      margin-bottom: 3.5rem;

      .field-item {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
      }
    }
  }

  &__details,
  .group-material-details,
  #ting-object-ting-object-full-group-on-this-site {
    > h2,
    .ting-relations__title h2,
    .field-group-format-title {
      text-decoration: none;
      font-family: $font-light;
      color: $color__font-gray;
      overflow-wrap: break-word;
      font-size: 1.1rem;
      display: block;
      width: 100%;

      @include grid-media($mobile-only) {
        padding-right: 4rem;

        &::before {
          @include icon;
          content: $icon__chevron-down;
          position: absolute;
          right: 3.5rem;
          font-size: 1.5rem;
        }
      }


      @include grid-media($small) {
        font-size: 1.5rem;
      }

      @include grid-media($medium) {
        font-size: 2.1rem;
      }
    }

    > h2,
    .ting-relations__title {
      @include grid-media($medium) {
        float: left;
        width: percentage(1 / 3);
      }
    }

    .field-group-format-wrapper,
    .ting-relations__content {
      padding: 2rem 0;

      @include grid-media($medium) {
        padding: 0;
        float: left;
        display: block !important;
        width: percentage(2 / 3);
      }
    }
  }

  .action-button {
    @extend .btn;
    float: left;
    text-align: left;

    @include grid-media($medium) {
      max-width: 47%;
    }
  }

  .detail {
    width: 100%;
    display: inline-block;
    clear: left;
    padding: 1.5rem 0;
    border-top: 1px solid $color__border-gray;
    margin: 0;

    .article--search-result {
      float: left;
      width: 100%;
      margin: .5rem 0;

      @include grid-media($medium) {
        margin: 1.5rem 0 2rem;
      }
    }
  }

  .group-material-details .field-group-format-wrapper {
    font-family: $font-regular;
    font-weight: normal;

    .field-label,
    .field-items {
      width: 50%;
      float: left;
      padding: 1rem .5rem 1rem 0;
    }

    .field-label {
      font-family: $font-semibold;
      font-weight: normal;
    }

    .field-items {
      color: $color__font-gray;

      a {
        color: $color__link__default;
        text-decoration: none;
      }
    }

    span {
      margin-right: 1rem;
    }
  }

  .abstract {
    @include text-paragraph;
  }

  .ting-fulltext-inner-wrapper {
    h1 {
      color: $color__font-gray--dark;
      font-family: $font-semibold;
    }
  }
}

.content-wrapper--material {
  padding: 0 2rem;
}
