
.reader__back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 22px;

  &:before {
    font-family: "FontAwesome";
    content: "\f060";
    position: relative;
  }
}
