
// Flex the spotlight-box so the paragraph is stretched out.
.spotlight-box__top__primary {
  display: flex;

  .spotlight-box__item {
    display: flex;
    flex: auto;
  }
}

.paragraphs-item-video {
  // Positioning context for iframe.
  position: relative;
  // And fill the space!!!
  flex: auto;
}

.media-youtube-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
