@import 'bootstrap/bootstrap';

.node-webform {
  @include content-wrapper;
  @include form-default;

  margin-top: 3rem;
  margin-bottom: 3rem;

  @include grid-media($medium) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .webform__title {
    @include page-header;
  }
}

.page-node-done {
  // We don't have anything better to grab onto.
  .pane-page-content {
    @include content-wrapper;

    .webform-confirmation {
      margin-top: 2rem;
      margin-bottom: 2rem;

      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .links {
      margin-bottom: 2rem;
    }
  }
}
