<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="/home/xen/dev/drush6/tests/drush_testcase.inc"
         >
  <testsuites>
    <testsuite name="Deployotron Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix='.php'>.</directory>
      <directory suffix='.inc'>.</directory>
      <exclude>
        <directory suffix=".php">tests</directory>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <var name="UNISH_DB_URL" value="mysql://unish:unish@localhost"/>
    <var name="UNISH_DRUSH" value="/home/xen/dev/drush6/drush"/>
  </php>
</phpunit>
