// Global.
$footer-border-color: rgb(226, 77, 128); //#e24d80

.footer {
  background-color: $red;

  color: $white;
  font-size: $base-font-size;
  font-family: $font-light;

  overflow: hidden;
  padding-bottom: 3.214em;

  width: 100%;
  float: left;
  display: inline-block;

  &__inner {
    position: relative;
    padding-top: 60px;
  }

  &__ddf {
    --spacing: calc(12px * 4);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing);
    width: clamp(0px, 1180px, 98%);
    padding-top: calc(var(--spacing) * 2);
    padding-right: 0;
    padding-bottom: var(--spacing);
    padding-left: 0;
    display: flex;
    place-content: center;
    column-gap: var(--spacing);
    border-top: 2px solid #e24d80;
    p {
      line-height: 1.25;
    }
    a {
      color: inherit;
    }

    @include media($phone) {
      flex-direction: column;
      row-gap: calc(var(--spacing) * 0.5);
      text-align: center;
      border-top: 0;
      padding-top: 0;
    }
  }

  .menu {
    a {
      text-transform: none;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .panel-pane {
    @include span-columns(3);

    a {
      color: $white;
      font-size: 14pt;
    }

    // Desktop.
    @include media($screen) {
      @include span-columns(3);
    }

    // Tablet.
    @include media($tablet-l) {
      @include span-columns(6);
    }

    // Phone.
    @include media($phone) {
      @include span-columns(12);
    }
  }

  [class^="attachment-"],
  [class*=" attachment-"] {
    // Todo(ts) - maybe this should be handled by the global columns
    // in the grid, but that is not taking effect right now, so this will do,
    // but we leave the todo as a reminder.
    padding-right: 30px;
    padding-left: 10px;

    @include media($tablet-l) {
      .attachment-first,
      .attachment-third {
        clear: left;
      }

      .attachment-second,
      .attachment-fourth {
        clear: right;
      }
    }
  }

  .pane-title {
    color: $white;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid $footer-border-color;
    cursor: pointer;

    font-family: $font-regular;
    font-size: 14pt;
    margin-bottom: 2.143em;

    &:before {
      @include icon("arrow-right");
      float: right;
      transform: rotate(0.25turn);
      transition: all 0.3s ease-out;
      @include media($tablet-l) {
        transform: rotate(0turn);
      }
    }

    &.closed {
      &:before {
        transform: rotate(0turn);
      }
    }

    &.open {
      &:before {
        transform: rotate(0.25turn);
      }
    }
  }

  .menu-item {
    padding-left: 10px;
  }

  .leaf {
    margin: 0;
    margin-bottom: 2.143em;
  }
}

// Responsive.
@media (max-width: 990px) {
  .footer {
    ul.menu {
      display: none;
    }
  }

  .attachment-first,
  .attachment-third {
    clear: left;
  }

  .attachment-second,
  .attachment-fourth {
    clear: right;
  }
}
