// TODO(ts) - temporary fix. Must be removed in pane.
.node-type-breol-news {
  .main-content h2.pane-title {
    display: none;
  }
}

/**
 * Tabs theming.
 */
.pane-page-tabs {
  @include outer-container;
}

#tabs {
  @include span-columns(12);

  .tabs {

    li {
      float: left;
      padding: 10px 20px;
      margin: 0 5px;
      background: $brown-light;

    }
  }
}

.play_icon {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 44px;
  color: $red;
  background: white;
  padding: 22px 20px 20px 30px;
  text-align: center;
  border-radius: 50%;
}
