@import "bourbon";
@import "base/functions";
@import "base/vars";
// Hide all content that should not
// be displayed in print.
#toolbar,
.organic-element,
.site-header,
.navigation,
.main-header,
.footer {
  display: none;
}

table {
   width:100%!important;
   font-size:1.2vw;
}

tr {

  padding: 2px;

  &.even,
  &.odd {
    background-color: white !important;
  }
}

td {
  padding: 1px;
}

body:not(.front):not(.page-nyheder) .main-content-wrapper__inner {
  max-width: 100%;
  padding: 0 1vw;
}
