// Global.
$footer-border-color: rgb(226, 77, 128);//#e24d80

.footer {

  background-color: $red;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../svg/organic_element.svg);;
  mask-image: url(../svg/organic_element.svg);;

  color: $white;
  font-size: $base-font-size;
  font-family: $font-light;

  overflow: hidden;
  padding-top: em(65, $base-font-size);
  padding-bottom: em(45, $base-font-size);
  margin-top: 50px;

  width: 100%;
  float: left;
  display: inline-block;

  .menu {
    a {
      text-transform: none;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .panel-pane {
    @include span-columns(3);

    a {
      color: $white;
      font-size: em(16, $base-font-size);
    }

    // Desktop.
    @include media($screen) {
      @include span-columns(3);
    }

    // Tablet.
    @include media($tablet-l) {
      @include span-columns(6);
    }

    // Phone.
    @include media($phone) {
      @include span-columns(12);
    }
  }

  [class^="attachment-"], [class*=" attachment-"] {
    // Todo(ts) - maybe this should be handled by the global columns
    // in the grid, but that is not taking effect right now, so this will do,
    // but we leave the todo as a reminder.
    padding-right: 30px;
    padding-left: 10px;

    @include media($tablet-l) {
      .attachment-first,
      .attachment-third {
        clear: left;
      }

      .attachment-second,
      .attachment-fourth {
        clear: right;
      }
    }
  }

  .pane-title {
    color: $white;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid $footer-border-color;
    cursor: pointer;

    font-family: $font-light;
    font-size: em(18, $base-font-size);
    margin-bottom: em(30, $base-font-size);

    &:before {
      @include icon('.icon-arrow-right');
      float: right;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      transition: all 300ms ease-out;

      @include media($tablet-l) {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    &.closed {

      &:before {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    &.open {

      &:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .menu-item {
    padding-left: 10px;
  }

  .leaf {
    margin: 0;
    margin-bottom: em(30, $base-font-size);
  }

}

// Responsive.
@media (max-width: 990px) {
  .footer {
    ul.menu {
      display: none;
    }
  }

  .attachment-first,
  .attachment-third {
    clear: left;
  }

  .attachment-second,
  .attachment-fourth {
    clear: right;
  }
}
