// Global.
$footer-border-color: rgb(226, 77, 128);//#e24d80

.footer {
  background: $red;
  color: $white;
  font-size: $base-font-size;
  font-family: $font-light;

  overflow: hidden;
  padding-top: em(65, $base-font-size);
  padding-bottom: em(45, $base-font-size);

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .panel-pane {
    @include span-columns(3);

    a {
      color: $white;
      font-size: em(16, $base-font-size);
    }

    // Desktop.
    @include media($screen) {
      @include span-columns(3);
    }

    // Tablet.
    @include media($tablet) {
      @include span-columns(6);
    }

    // Phone.
    @include media($phone) {
      @include span-columns(12);
    }
  }

  [class^="attachment-"], [class*=" attachment-"] {
    // Todo(ts) - maybe this should be handled by the global columns
    // in the grid, but that is not taking effect right now, so this will do,
    // but we leave the todo as a reminder.
    padding-right: 40px;
  }

  .pane-title {
    color: $white;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid $footer-border-color;
    cursor: pointer;

    font-family: $font-light;
    font-size: em(18, $base-font-size);
    margin-bottom: em(30, $base-font-size);
  }

  .menu-item {
    padding-left: 10px;
  }

  .leaf {
    margin: 0;
    margin-bottom: em(30, $base-font-size);
  }

}

