.site-header {
  height: 100px;
  background: $red;

   @include media($tablet-l) {
    height: auto;
    width: 100%;
  }
}

.logo {
  // Relative to main menu.
  width: calc-percentage(3,12);
  float: left;

  line-height: 100px;
  font-size: 30px;
  text-align: left;
  color: white;
  font-family: $font-mikado;

  a {
    margin: 30px auto;
    text-decoration: none;
    color: $white;
    display: block;
    text-indent: -9999px;
    height: 30px;
    background: url(../svg/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include media($phone) {
    height: auto;
    float: left;
    width: 100%;
  }
}
