// Header.
.site-header__inner {
  @include outer-container;

  @include media($tablet-l) {
    padding: 0 15px;
  }
}

// Main content.
body:not(.front) .main-content-wrapper__inner {
  @include outer-container;
}

.main-content-wrapper__inner {
  width: 100%;
  @include media($tablet-l) {
    padding: 0 15px;
  }
}

.main-content-wrapper {
  clear: both;
}

// Footer.
.footer__inner {
  @include outer-container;
}

.container {
  @include outer-container;
}

// Frontpage theming.
.front {
  .main-content {
    background: $gray;
    padding: 75px 0;
    margin-bottom: 100px;

    @include media($tablet-l) {
      padding: 15px;
    }
  }
}

// Organic elements.
.organic-element {
  height: 35px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 50px 0 0;
  padding: 0px;
  line-height: 0;

  &--user {
    .organic-svg {
      fill: white;
    }
  }

  &--content {
    .organic-svg {
      fill: white;
    }

    .page-search & {
      top: -20px;
    }

    .page-user & {
      display: none;
    }
  }

  &--footer {

    margin-top: 50px;

    .organic-svg {
      fill: $red;
    }
  }

  svg {
    height: 100%;
    width: 100%;

     @include media($tablet-l) {
      width: 1600px;
      position: absolute;
      left: -500px;
    }
  }
}
