.overdrive-mappings {
  display: inline-block;
  margin-bottom: 1rem;
}
.overdrive-mappings .mapping {
  display: block;
  position: relative;
  clear: both;
  padding: 0 10px;
  border: 1px solid #a9a9a9;
}

.overdrive-mappings .mapping.odd {
  background-color: #F0F0F0;
}

.overdrive-mappings .mapping.even {
  background-color: #f9f9f9;
}

.overdrive-mappings .mapping .form-submit {
  margin-top: 1.5rem;
}

.btn-add-another {
  display: block;
  clear: both;
}

.overdrive-mappings .mapping .form-item {
  display: inline-block;
  float: left;
  margin-right: 2rem;
}
