body {
  font-family: $font-regular;
  font-size: $base-font-size;
  font-weight: 400;
  letter-spacing: em(1, $base-font-size);
}

html,
body {
  overflow-x: hidden;
}

ul.menu,
ul.tabs {
  @extend %reset;
  li {
    list-style-type: none;
    list-style-image: none;
    &.leaf {
      list-style-type: none;
      list-style-image: none;

      .footer & {
        margin: 0;
        margin-bottom: 2.14286em;
      }
    }
  }

  &.menu li {
    margin: 0;
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

p {
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

* {
  outline: none;
}

li {
  margin: 5px;
}

strong {
  font-family: $font-bold;
}

em {
  font-style: italic;
}
