body {
  font-family: $font-regular;
  font-size: $base-font-size;
  font-weight: 400;
  letter-spacing: em(1, $base-font-size);
}

ul.menu,
ul.tabs {
  @extend %reset;
  li {
    list-style-type: none;
    list-style-image: none;
    &.leaf {
      list-style-type: none;
      list-style-image: none;

      .footer & {
        margin: 0;
        margin-bottom: 2.14286em;
      }
    }
  }

  &.menu li {
    margin: 0;
  }
}

h1 {
  @include heading(em(32, $base-font-size));
}

h2 {
  @include heading(em(28, $base-font-size));
}

h3 {
  @include heading(em(24, $base-font-size));
}

h4 {
  @include heading(em(20, $base-font-size));
}

h5 {
  @include heading(em(16, $base-font-size));
}

h6 {
  @include heading(em(14, $base-font-size));
}

p {
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

img {
  max-width: 100%;
}

* {
  outline: none;
}

li {
  margin: 5px;
}

strong {
  font-family: $font-bold;
}

em {
  font-style: italic;
}
