body {
  font-family: $font-regular;
  font-size: $base-font-size;
  font-weight: 400;
  letter-spacing: em(1, $base-font-size);
}

ul {
  li {
    list-style-type: none;
    list-style-image: none;
    &.leaf {
      list-style-type: none;
      list-style-image: none;
    }
  }

  &.menu li {
    margin: 0;
  }
}

h1 {
  @include heading(1.4rem);
}

h2 {
  @include heading(1.2rem);
}

h3 {
  @include heading(1rem);
}

p {
  line-height: 1.6em;
}
