// Typo.
@mixin heading($size){
  font-size: $size;
  font-weight: 400;
  margin: 0 0 20px 0;
}

// Button.
@mixin button($color){
  text-decoration: none;
  background: $color;
  border-radius: 40px;
  padding: 15px 22px;
  color: white;
  min-width: 250px;
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-mikado;

  &:hover {
    background: lighten($color, 3);
  }

  &:before {
    @include icon('.icon-arrow-right-funny');
    float: right;
  }
}

// Typo.
@mixin reHeight($columns, $total){
  $percentage: calc-percentage($columns, $total);
  padding-bottom: $percentage / 2;
  height: 0;
}
