/**
 * Colors.
 */
$red: rgb(213, 0, 73);
$red-light: rgb(235, 0, 85);
$red-medium: rgb(215, 0, 75);
$red-dark: rgb(160, 0, 60);

$light-red-light: rgb(240, 170, 170);
$light-red-medium: rgb(215, 130, 130);
$light-red-dark: rgb(120, 70, 70);

$black-light: rgb(150, 150, 150);
$black-medium: rgb(100, 100, 100);
$black: rgb(50, 50, 50);

$white: rgb(255, 255, 255);
$white-medium: rgb(235, 235, 235);
$white-dark: rgb(200, 200, 200);

$yellow-light: rgb(250, 230, 200);
$yellow-medium: rgb(235, 200, 130);
$yellow-dark: rgb(145, 120, 80);

$brown-light: rgb(235, 225, 210);
$brown-medium: rgb(205, 190, 170);
$brown-dark: rgb(125, 115, 100);

$blue-light: rgb(220, 230, 230);
$blue-medium: rgb(175, 195, 195);
$blue-dark: rgb(100, 100, 100);

$green-light: rgb(225, 235, 190);
$green-medium: rgb(195, 205, 150);
$green-dark: rgb(115, 120, 90);

$green: rgb(1, 180, 82);

$gray: rgb(238, 238, 238);
$gray-light: rgb(231, 230, 230);//#E7E6E6

// other colors.
$menu-tablet-background: rgb(236, 3, 84);

$icon-quota-unknown: $black-medium;
$icon-quota: $red;
$icon-quota-none: rgb(116, 150, 190);

$title-color: $black-medium;

/**
 * Fonts.
 */

// Base font.
@include font-face("OpenSans Light", "../fonts/OpenSans-Light", $file-formats: woff ttf);
@include font-face("OpenSans Light Italic", "../fonts/OpenSans-LightItalic", $file-formats: woff ttf);
@include font-face("OpenSans Regular", "../fonts/OpenSans-Regular", $file-formats: woff ttf);
@include font-face("OpenSans Regular Italic", "../fonts/OpenSans-RegularItalic", $file-formats: woff ttf);
@include font-face("OpenSans Bold", "../fonts/OpenSans-Bold", $file-formats: woff ttf);
@include font-face("OpenSans Bold Italic", "../fonts/OpenSans-BoldItalic", $file-formats: woff ttf);

$fallbackFontFamily: Arial, Helvetica, Sans-Serif;
$font-regular: 'OpenSans Regular', $fallbackFontFamily;
$font-regular-italic: 'OpenSans Regular Italic', $fallbackFontFamily;
$font-light: 'OpenSans Light';
$font-light-italic: 'OpenSans Light Italic', $fallbackFontFamily;
$font-bold: 'OpenSans Bold', $fallbackFontFamily;
$font-bold-italic: 'OpenSans Bold Italic', $fallbackFontFamily;

// Icon font.
@include font-face("icomoon", "../fonts/icomoon", $file-formats: ttf woff svg eot);

// Mikado font.
@include font-face("Mikado", "../fonts/mikado", $file-formats: eot woff woff2 ttf);

$font-mikado: "Mikado";

// Base font vars.
$base-font-size: 14px;

/**
 * Breakpoints.
 */

$phone-p: new-breakpoint(max-width 480px);
$phone-l: new-breakpoint(max-height 375px);
$phone: new-breakpoint(max-width 667px);
$tablet-p: new-breakpoint(max-width 768px);
$tablet-l: new-breakpoint(max-width 1024px);
$screen: new-breakpoint(min-width 1025px);
$bigscreen: new-breakpoint(min-width 1200px);

// z-index's
$z-index-menu: 2;

// Let's introduce some base sizes.

// Side margins on content on mobile.
$mobile-margin: 20px;

// New colors. Names for non-obvious colors from
// http://chir.ag/projects/name-that-color
$color-green: #7bb93a;
$color-blue: #3174cf;
$color-cerulean: #0aa9c1;
$color-purple: #a729dc;
$color-orange: #ff7800;
$color-red: #d50049;

$ego_icons: (
  logo: 'e924',
  e-books: 'e900',
  help: 'e901',
  close: 'e902',
  menu: 'e903',
  audio-books: 'e904',
  news: 'e905',
  profile: 'e906',
  search: 'e907',
  attention: 'e908',
  check: 'e909',
  e-book: 'e90a',
  previous: 'e90b',
  grid-view: 'e90c',
  heart: 'e90d',
  reading-aloud: 'e90e',
  camera: 'e90f',
  close-b: 'e910',
  easy-reader: 'e911',
  list-view: 'e912',
  lock: 'e913',
  audio-sound: 'e914',
  audio-no-sound: 'e915',
  audio-book: 'e916',
  audio-next: 'e917',
  pause: 'e918',
  arrow-right: 'e919',
  arrow-left: 'e91a',
  arrow-right-funny: 'e91b',
  arrow-left-funny: 'e91c',
  play: 'e91d',
  search-b: 'e91e',
  fast-forward-right-b: 'e91f',
  fast-forward-left-b: 'e920',
  fast-forward-right: 'e921',
  fast-forward-left: 'e922',
  Star: 'e923',
  spinner: 'e925',
  link: 'e926',
  flag: 'e9cc',
  flag-en: 'e927'
);
