
a.frontpage-banner {
  display: block;
  color: $text-header-color;
  background-color: #cacaca;
  padding: 30px 0;
  margin-bottom: .5em;

  h3,
  p {
    color: $text-header-color;
    text-align: center;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  &:hover {
    text-decoration: none;
  }
}

a.global-banner {
  color: white;
  background-color: #bb0133;

  h3 {
    color: white;
  }
}

a.go-banner {
  background-color: #bb0133;
  img {
    padding: 14px 0;
  }
}

// Add in extra padding so the banners are (approx) the same size.
a.nonquota-banner div.nonquota-banner,
a.go-banner div.go-banner {
  padding: 11px 0;
}

// Same for small, but the other way around.
@include small() {
  a.nonquota-banner div.nonquota-banner {
    padding: 0;
  }

  a.global-banner div.global-banner,
  a.go-banner div.go-banner {
    padding: 4px 0;
  }
}