.pane-carousel {
  margin-bottom: 0;

  @include small() {
    display: none;
  }
}

.ting-search-carousel .carousel-tab {
  li {
    position: relative;
    .carousel-item-creator {
      display: none;
    }

    .carousel-item-title {
      bottom: auto;
      display: none;
      opacity: 0;
      position: absolute;
      z-index: 2;
      bottom: 0;
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      // width: 100%;
      &:after {
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        border-bottom-color: white;
        border-width: 10px;
        margin-left: -10px;
      }
    }
  }

  li:hover .carousel-item-title {
    display: block;
    background: #fff;
    opacity: 1;


    @include small() {
      display: none;
    }
  }

  .slick-arrow {
    opacity: 1;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    background: rgba(255,255,255,0.4);
    border-radius: 100px;
    box-sizing: initial;
    padding: 0;

    &:hover {
      background: #fff;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border: 2px solid #000;
      @include rotate(45deg);
      text-align: center;
    }

    &.slick-prev {
      left: 0;
      &:after {
        border-right-width: 0;
        border-top-width: 0;
        margin-top: -5px;
        margin-left: -4px;
      }
    }

    &.slick-next {
      right: 0;
      &:after {
        border-left-width: 0;
        border-bottom-width: 0;
        margin-top: -5px;
        margin-left: -7px;
      }
    }
  }
}

.carousel-tabs ul li {
  a {
    @include header-menu-gradient();
    color: $text-header-color;
    margin-right: 0;
    font-family: Oxygen, sans-serif;
    font-size: 0.95em;
  }

  &.active a {
    @include header-menu-selected-gradient();
    font-family: Oxygen, sans-serif;
    font-weight: normal;

    &:before {
      border-bottom-color: #D8D8D8;
      border-width: 16px;
      top: -32px;
      margin-left: -16px;
    }
  }
}

.field-type-ting-search-carousel {
  .carousel-tabs {
    display: none;
  }
}
