.facebook-likebox {
  text-align: center;
  margin-top: 20px;

  span {
    iframe {
      width: 100% !important;
      position: relative !important;
    }
  }
}

.front .facebook-likebox {
  @include small() {
    display: none;
  }
}
