$header-height: 90px;


.topbar {
  height: $header-height;
  @include header-menu-gradient();

  .topbar-inner {
    @include header-menu-gradient();
    overflow: visible;
    max-width: 1200px;
  }

  .logo {
    @include header-logo-gradient();
    height: $header-height;
    padding: 0;
    padding-top: 29px;
    width: 100%;
    text-align: center;
    @include large-x-large() {
      // Use negative margin to pull the logo out over the left edge.
      margin-left: -93px;
      // And use padding to center the logo image.
      padding-left: 103px;
      padding-right: 106px;
      width: auto;
    }

    img {
      margin: 0;
    }
  }

  .topbar-menu {
    @include large-x-large() {
      display: none;
    }
  }

  .main-menu-wrapper {
    @include large-x-large() {
      margin-left: 301px;
      margin-right: 10px;
      display: block;
      padding: 0;
    }
    @include small-medium() {
      @include box-sizing(border-box);

  background-color: #353535;
      display: none;
      padding-top: 10px;
      padding-right: 20px;
      /* Extra space needed below the menu for device stuff (e.g. iOS) */
      padding-bottom: 30px;
      padding-left: 20px;
    }
  }

  .main-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;

    @include small-medium() {
      .main-menu {
        display: block;
        font-size: 16px;
        margin-left: 10px;
      }
    }

    @include large-x-large() {
    li {
      display: inline-block;
      position: relative;
      opacity: .6;
      filter: alpha(opacity=60);

      &.active, &:hover {
        @include header-menu-selected-gradient();
        opacity: 1;
        filter: alpha(opacity=100);
      }

      &.active a::after {
        content: "";
        color: #cccccc;
        position: absolute;
        bottom: -20px;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 20px solid;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        left: 50%;
        margin-left: -20px;
        z-index: 100;
      }

      a {
        margin: 0;
        height: 90px;
        display: block;
        padding: 50px 40px 0px 40px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px auto;
        background-position: center 18px;
        &:hover, &.active {
          text-decoration: none;
        }

        span {
          font-family: 'Open Sans', sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13px;
          color: #404040;
          letter-spacing: .2px;
        }
      }



      &:nth-child(1) a {
        background-image: url("../images/icon-nyheder.png");
      }

      &:nth-child(2) a {
        background-image: url("../images/icon-eboger.png");
      }

      &:nth-child(3) a {
        background-image: url("../images/icon-lydboger.png");
      }

      &:nth-child(4) a {
        background-image: url("../images/icon-minelan.png");
      }

      &:nth-child(5) a {
        background-image: url("../images/icon-sog.png");
      }
    }
  }
    }
}

.header-wrapper {
  height: 60px;
  background-color: #353535;

  // Search form.
  .search {
    padding: 0;
    width: auto;
    @include large-x-large() {
      margin-left: 311px;
      margin-right: 10px;
    }

    .form-text {
      color: white;
      border-radius: 0;
      background-color: #202020;
      font-size: 20px;
      padding-left: 20px;
      &:focus {
        // Remove the focus outline.
        outline: none;
      }
    }

    .form-submit {
      margin: 0;
      border-radius: 0;
      background-color: $color-red;
      background-image: url(../images/icon-sog-white.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      background-position: center center;
      width: 90px;
      height: 0;
      padding: 0;
      padding-top: 60px;
      overflow: hidden;
    }
  }
}