.top {
  background: #e6e6e6;
  overflow: hidden;
}
.topbar {
  height: $header-height;
  @include header-menu-gradient();

  .topbar-inner {
    @include header-menu-gradient();
    overflow: visible;
    max-width: 1200px;
  }

  .logo {
    @include header-logo-gradient();
    height: $header-height;
    padding: 0;
    padding-top: 29px;
    width: 100%;
    text-align: center;

    // Pull the logo above the overlapping menu.
    position: relative;
    z-index: 1;

    @include large-x-large() {
      // Use negative margin to pull the logo out over the left edge.
      margin-left: -93px;
      // And use padding to center the logo image.
      padding-left: 103px;
      padding-right: 106px;
      width: auto;
    }

    img {
      margin: 0;
    }
  }


  // And the tabs-menu above the logo.
  .pane-menu-menu-tabs-menu {
    position: relative;
    z-index: 2;
  }



  .topbar-menu {
    .menu-item.active {
      background: none;
    }
    @include large-x-large() {
      display: none;
    }

    @include small-large() {
      margin-top: 0;
      padding: 0;

      i[class^="icon-"] {
        margin-right: 0;
      }

      span {
        display: none;
      }

      /* Show mobile link menu item */
      .menu-item.topbar-link-menu {
        display: inline-block;
      }

      .topbar-link-user-account.menu-item {
        display: none;
      }

      .topbar-link-user-account.default-override {
        display:inline-block;
      }
    }
  }
}

.header-wrapper {
  clear: both;
  background-color: $background-dark;

  .header-inner {
    margin-left: 0;
    margin-right: 0;
    max-width: none;

    .search {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Secondary menu.
  $secondary-bg: #999;
  .pane-menu-block-secondary-menu {
    background: $secondary-bg;
    ul {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      li {
        display: inline-block;

        a {
          display: block;
          color: lighten($secondary-bg, 30%);
          line-height: 30px;
          width: 137px;

          &.active, &.active-trail, &:hover {
            color: lighten($secondary-bg, 70%);
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }

  // Search form.
  .search {
    display: block !important;
    padding: 0;
    width: auto;
    @include large-x-large() {
      padding-left: 311px;
      padding-right: 10px;
    }

    .form-text {
      margin: 0;
      color: white;
      border-radius: 0;
      background-color: #202020;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 120px;

      &:focus {
        // Remove the focus outline.
        outline: none;
      }
    }

    .form-submit {
      margin: 0;
      border-radius: 0;
      background-color: $color-red;
      background-image: url(../images/icon-sog-white.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      background-position: center center;
      width: 90px;
      height: 0;
      padding: 0;
      padding-top: 60px;
      overflow: hidden;
    }
  }
}

.navigation-wrapper {
  background-color: $background-dark;
  color: $inverse-text-color;

  .secondary-menu-wrapper,
  .secondary-menu,
  .secondary-menu li {
    float: left;
  }

  .secondary-menu li {
    border-right: none;
  }

  .secondary-menu-wrapper {
    margin: 0;
  }

  li a.menu-item {
    &:hover,
    &.active {
      color: inherit;
    }
  }
}
