$header-height: 87px;


.topbar {
  height: $header-height;
  @include header-menu-gradient();

  .topbar-inner {
    @include header-menu-gradient();
    overflow: visible;
    max-width: 1200px;
  }

  .logo {
    @include header-logo-gradient();
    height: $header-height;
    padding: 0;
    // Use negative margin to pull the logo out over the left edge.
    margin-left: -93px;
    // And use padding to center the logo image.
    padding-left: 103px;
    padding-right: 106px;
    padding-top: 29px;
    width: auto;

    img {
      margin: 0;
    }
  }
}

.header-wrapper {
  height: 60px;
  background-color: #353535;

  .search {
    padding: 0;
    width: auto;
    margin-left: 311px;
    margin-right: 10px;

    .form-text {
      color: white;
      border-radius: 0;
      background-color: #202020;
      font-size: 20px;
      padding-left: 20px;
    }

    .form-submit {
      margin: 0;
      border-radius: 0;
      background-color: $color-red;
      background-image: url(../images/icon-sog-white.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      background-position: center center;
      width: 90px;
      height: 0;
      padding: 0;
      padding-top: 60px;
      overflow: hidden;
    }
  }
}