.pane-latest .pane-title {
  text-align: center;
  margin-bottom: 20px;
}

.latest-titles {
  text-align: center;
  margin-bottom: 20px;

  .latest-title {
    display: block;
    border-bottom: $border-separator;
    padding: 20px;

    &.first {
      border-top: $border-separator;
    }

    &:hover {
      text-decoration: none;
      background: #f3f3f3;
    }
  }
}

.page-reol-frontpage .pane-latest {
  @include small() {
    display: none;
  }
}
