/**
 * General layout and coloring.
 */

body {
  color: $text-color;
  background-color: $background-light;
}

.bottom {
  color: $inverse-text-color;
  background-color: $background-dark;
}

a,
a:link,
a:visited {
  color: #c7003d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.page-title,
.ui-dialog-title {
  font-family: 'Open Sans', sans-serif;
  color: $text-header-color;
  font-weight: 300;
  letter-spacing: .2px;
  text-transform: uppercase;
}

.page-lead,
strong {
  font-family: 'Open Sans', sans-serif;
  color: $text-header-color;
  font-weight: 600;
  letter-spacing: .2px;
}

h1 ,
.page-title,
.ui-dialog-title {
  font-size: 36px;
  line-height: 40px;
}

.default-layout .default-layout-inside {
  clear: left;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;

  .panels-flexible-row {
    margin-bottom: 30px;
  }
}

@include small() {
  .page-reol-frontpage {
    .reol-frontpage .left {
      width: 100%;
      .inner {
        padding-right: 0;
      }
    }

    .reol-frontpage .highlight {
      float: none;
      width: 100%;
    }

    .reol-frontpage .right{
      display: none;
    }
  }
}

#login-link {
  display: none;
}

a.back-button {
  display: block;
  color: $text-secondary-color;
  margin-top: -15px;
  margin-bottom: 10px;
}
