.topbar {
  // Position and set z-index so the menu can fold down over the rest of the
  // page.
  position: relative;
  z-index: 1;
  .main-menu-wrapper {
    display: block;
    padding: 0;
    width: auto;

    // Override ddbasic.
    .main-menu li .menu-item.active,
    .main-menu li .menu-item:hover {
      font-family: 'Oxygen', sans-serif;
    }

    @include small-medium() {
      @include box-sizing(border-box);

      background-color: $background-dark;
      display: none;
      padding-top: 10px;
      padding-right: 20px;
      /* Extra space needed below the menu for device stuff (e.g. iOS) */
      padding-bottom: 30px;
      padding-left: 20px;
      margin: 0;
      width: 100%;
    }

    // First level.
    & > .main-menu {
      //position: relative;
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-left: 10px;
      margin-right: 10px;

      @include small-medium() {
        font-size: 100%;

        // Override ddbasic.
        .menu-item {
          font-size: 100%;
        }

        li {
          border-bottom: none;
          display: block;

          &:before {
            color: white;
            display: inline;
            float: left;
            font-family: "FontAwesome";
            margin-top: 9px;
            margin-right: 5px;
          }

          &.first {
            .menu-item {
              margin-left: -12px;
            }
          }

          .menu-item {
            color: white;
            display: inline-block;
            margin-right: 0;
            margin-left: -12px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 12px;
            width: 95%;

            &:hover {
              text-decoration: none;
            }

            &.active {
              text-decoration: none;
            }
          }
        }

        // Second level, mobile.
        .main-menu {
          display: none;
          margin-left: 20px;
          font-size: 100%;
        }
        // Second level, mobile, active trail.
        .active-trail .main-menu {
          display: block;
        }

        // Third level, mobile.
        .main-menu .main-menu {
          display: none;
        }

        // Third level, mobile, active.
        .main-menu .active .main-menu {
          display: block;
        }

      }

      @include large-x-large() {
        margin-left: 311px;

        li {
          display: inline-block;
          // position: relative;
          opacity: .6;
          filter: alpha(opacity=60);

          &.active, &.active-trail, &:hover {
            @include header-menu-selected-gradient();
            opacity: 1;
            filter: alpha(opacity=100);
          }

          // Make the li of the active trail item higher, so it pushes
          // down the following element, and shows the sub-menu.
          &.active-trail {
            height: 150px;
          }

          a {
            margin: 0;
            height: 90px;
            display: block;
            padding: 50px 20px 0px 20px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: 40px auto;
            background-position: center 18px;

            @include x-large() {
              padding: 50px 40px 0px 40px;
            }

            &:hover, &.active {
              text-decoration: none;
            }

            span {
              font-family: 'Open Sans', sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 13px;
              color: #404040;
              letter-spacing: .2px;
            }
          }



          &:nth-child(1) a {
            background-image: url("../images/icon-nyheder.png");
          }

          &:nth-child(2) a {
            background-image: url("../images/icon-eboger.png");
          }

          &:nth-child(3) a {
            background-image: url("../images/icon-lydboger.png");
          }

          &:nth-child(4) a {
            background-image: url("../images/icon-minelan.png");
          }

          &:nth-child(5) a {
            background-image: url("../images/icon-sog.png");
          }
        }

        // Second level.
        .main-menu {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          background-color: $background-light;

          li {
            position: relative;
            margin: 0;
            opacity: 1;
            filter: alpha(opacity=100);

            &.active-trail {
              height: auto;
            }

            a {
              padding: 19px 35px 19px;
              background: none;
              height: 60px;
              margin: 0;
              background-image: none;
              font-size: 16px;
            }

            span {
              font-family: 'Open Sans', sans-serif;
              color: #404040;
              font-weight: 300;
              letter-spacing: .2px;
              text-transform: uppercase;
              font-size: 16px;
            }
          }
        }

        // Third level.
        .main-menu .main-menu {
          display: none;
          position: absolute;
          width: 300px;
          top: 70px;
          left: 27px;
          background-color: white;
          padding: 35px 0;

          @include box-shadow(black 0px 5px 50px -20px);

          li {
            display: block;
            width: auto;
            line-height: 16px;

            a {
              padding: 10px 20px;
              display: block;
              font-size: 16px;
              height: auto;
            }
            span {
              text-transform: none;
            }
          }

          &::after {
            content: "";
            color: white;
            position: absolute;
            top: -20px;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-bottom: 20px solid;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            left: 20px;
            z-index: 100;
          }

        }

        .main-menu .active .main-menu {
          display: block;
        }
      }
    }
  }
}
