.topbar {
  // Position and set z-index so the menu can fold down over the rest of the
  // page.
  position: relative;
  z-index: 1;

  .main-menu-wrapper {
    display: block;
    padding: 0;
    width: 75%;
    margin-left: 25%;

    // Override ddbasic.
    .main-menu li .menu-item.active,
    .main-menu li .menu-item:hover {
      font-family: 'Oxygen', sans-serif;
    }

    @include small-medium() {
      box-sizing: border-box;

      background-color: $background-dark;
      display: none;
      padding-top: 10px;
      padding-right: 20px;
      /* Extra space needed below the menu for device stuff (e.g. iOS) */
      padding-bottom: 30px;
      padding-left: 20px;
      margin: 0;
      width: 100%;
    }

    // First level.
    & > .main-menu {
      list-style: none;
      width: 100%;
      padding: 0px;
      margin: 0px;

      @include small-medium() {
        font-size: 100%;
        margin-left: 10px;
        margin-right: 10px;

        // Override ddbasic.
        .menu-item {
          font-size: 100%;
        }

        li {
          border-bottom: none;
          display: block;

          &:before {
            color: white;
            display: inline;
            float: left;
            font-family: "FontAwesome";
            margin-top: 9px;
            margin-right: 5px;
          }

          &.first {
            .menu-item {
              margin-left: -12px;
            }
          }

          .menu-item {
            color: white;
            display: inline-block;
            margin-right: 0;
            margin-left: -12px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 12px;
            width: 95%;

            &:hover {
              text-decoration: none;
            }

            &.active,
            &.active-sm {
              text-decoration: none;
            }
          }
        }

        // Second level, mobile.
        .main-menu {
          display: none;
          margin-left: 20px;
          font-size: 100%;
        }
        // Second level, mobile, active trail.
        .active .main-menu,
        .active-sm .main-menu,
        .active-trail .main-menu {
          display: block;
        }

        // Third level, mobile.
        .main-menu .main-menu {
          display: none;
        }

        // Third level, mobile, active.
        .main-menu .active .main-menu,
        .main-menu .active-sm .main-menu {
          display: block;
        }

      }

      @include large-x-large() {
        li {
          width: 20%;
          display: inline-block;
          float: left;
          opacity: .6;
          filter: alpha(opacity=60);

          &:hover {
            background-color: rgba(0,0,0,0.05);
            opacity: 1;
            filter: alpha(opacity=100);
          }

          &.active, &.active-trail {
            background-color: rgba(0,0,0,0.1);
            opacity: 1;
            filter: alpha(opacity=100);
          }

          // Make the li of the active/active trail item higher, so it pushes
          // down the following element, and shows the sub-menu.
          &.active:not(.leaf),
          &.active-trail:not(.leaf) {
            height: 150px;
          }

          a {
            margin: 0;
            height: 90px;
            display: block;
            box-sizing: border-box;
            text-align: center;
            padding-top: 48px;
            background-repeat: no-repeat;
            background-size: 40px auto;
            background-position: center 18px;

            &:hover, &.active {
              text-decoration: none;
            }

            span {
              font-family: 'Open Sans', sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 13px;
              color: $text-header-color;
              letter-spacing: .2px;
            }
          }



          &:nth-child(1) a {
            background-image: url("../images/icon-nyheder.png");
          }

          &:nth-child(2) a {
            background-image: url("../images/icon-eboger.png");
          }

          &:nth-child(3) a {
            background-image: url("../images/icon-lydboger.png");
          }

          &:nth-child(4) a {
            background-image: url("../images/icon-minelan.png");
          }

          &:nth-child(5) a {
            background-image: url("../images/icon-help.png");
            background-position: center 14px;
          }
        }

        // Second level.
        .main-menu {
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          background-color: $background-light;

          li {
            width: auto;
            position: relative;
            margin: 0;
            opacity: 1;
            filter: alpha(opacity=100);

            &.active-trail,
            &.active {
              // Reset the height from the first levels "push down" size.
              height: auto;
            }

            &.active {
              background-color: rgba(0,0,0,0.05);
            }

            a {
              padding: 19px 35px 19px;
              background: none;
              height: 60px;
              margin: 0;
              background-image: none;
              font-size: 16px;
            }

            span {
              font-family: 'Open Sans', sans-serif;
              color: $text-header-color;
              font-weight: 300;
              letter-spacing: .2px;
              text-transform: uppercase;
              font-size: 16px;
            }
          }
        }

        // Third level.
        .main-menu .main-menu {
          display: none;
          position: absolute;
          width: 300px;
          top: 70px;
          left: 27px;
          background-color: white;
          padding: 35px 0;
          z-index: 100;

          box-shadow: black 0px 5px 50px -20px;

          li {
            display: block;
            width: auto;
            line-height: 16px;
            float: none;

            a {
              padding: 10px 20px;
              display: block;
              font-size: 16px;
              height: auto;
              text-align: left;
            }
            span {
              text-transform: none;
            }
          }

          &::after {
            content: "";
            color: white;
            position: absolute;
            top: -20px;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-bottom: 20px solid;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            left: 20px;
            z-index: 5;
          }

        }

        // Show active submenus.
        .active > .main-menu {
          display: block;
        }

        // And show the second level submenu, when it's in the active trail.
        > .active-trail > .main-menu {
          display: block;
        }
      }
    }
  }
}
