.material-item {
  .item-title {
    position: relative;
  }

  .expires-in,
  .pickup-date{
    font-weight: bold;

    &.high {
      color: green;
    }
    &.medium {
      color: #F0CB28;
    }
    &.low {
      color: red;
    }
  }

  .right-column {
    padding-left: 40px;
  }

  .material-buttons {
    float: right;

    a {
      margin-right: 20px;
    }
    a:last-child {
      margin-right: 0;
    }
  }

  // Hide the type icon on the material per default.
  &.type-icon::after {
    display: none;
  }
}

.pane-loans .material-item .right-column {
  padding-left: 10px;
}

// Reset ddbasic.
.pane-reservations .ting-cover,
.pane-loans .ting-cover,
.pane-bookmarks .ting-cover {
  max-width: inherit;
}

// Completely hide the left column on very small screens.
@include xx-small() {
  .material-item {
    .left-column {
      display:none;
    }

    .right-column {
      width: 100%;
    }

    // Display the material type icon now the one on the cover is hidden.
    &.type-icon::after {
      display: block;
    }

  }
}

// Show message for when a title is not available in italic.
.notloanable {
  font-style: italic;
}
