.material-item {
  .item-title {
    position: relative;
  }

  .expires-in,
  .pickup-date{
    font-weight: bold;

    &.high {
      color: green;
    }
    &.medium {
      color: #F0CB28;
    }
    &.low {
      color: red;
    }
  }

  .right-column {
    padding-left: 40px;
  }

  .material-buttons {
    float: right;

    a {
      margin-right: 20px;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}

.pane-loans .material-item .right-column {
  padding-left: 10px;
}
