.newsletter-signup {
  margin: 0 0 20px 0;
  padding: 10px;
  text-align: center;

  h2 {
    font-size: 160%;
  }

  .form-actions {
    text-align: right;

    #edit-submit {
      padding: 6px 10px;
      margin: 0;
    }
  }

  .mailchimp-newsletter-mergefields {
    text-align: left;
  }

  input[type="text"] {
    width: 100%;
  }

  .form-required {
    display: none;
  }
}

.newsletter-signup {
  @include small() {
    .form-actions {
      #edit-submit {
        width: auto;
        display: inline;
      }
    }
  }
}

.app-mode {
  padding: 20px;
}
