.newsletter-signup {
  margin: 0px auto 20px auto;
  padding: 20px 0px;
  max-width: 270px;

  h2 {
    font-size: 160%;
  }
}

.front .newsletter-signup {
  @include small() {
    display: none;
  }
}
