.single-review {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  max-width: 270px;
  margin: auto;
  text-align: center;

  a:hover {
    text-decoration: none;
  }

  .ting-cover:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 1em;
    border-color: #FFF transparent transparent transparent;
    left: 50%;
    margin-left: -1em;
    top: 0;
    z-index: 5;
    height: 0;
    width: 0;
  }

  h4 {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  span.author {
    font-style: italic;
    color: #404040;
  }

  .review-top {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  &:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(64,64,64,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(64,64,64,1);
    box-shadow: 0px 0px 10px 2px rgba(64,64,64,1);
  }
}

.front .single-review {
  @include small() {
    display: none;
  }
}
