/**
 * @file
 * Search result styles.
 */


/*
 * Hardcore resetting.
 */

.pane-search-result .search-results .list .list-item,
.view-node-search-result .search-results .list .list-item,
.ting-reference-reverse-list .search-results .list .list-item,
.pane-new-materials .search-results .list .list-item  {
  background: none;
  padding: 0;
}

.pane-search-result .search-results .list .search-result--availability,
.view-node-search-result .search-results .list .search-result--availability,
.ting-reference-reverse-list .search-results .list .search-result--availability,
.pane-new-materials .search-results .list .search-result--availability,
.pane-search-result .search-results .list .search-result--series,
.view-node-search-result .search-results .list .search-result--series,
.ting-reference-reverse-list .search-results .list .search-result--series,
.pane-new-materials .search-results .list .search-result--series {
  border: none;
}

/**
 * Proper styles.
 */

.ting-object-left {
  width: 30%;
}
.ting-object-right {
  width: 70%;
}

.pane-search-result .search-results .list .search-result--availability,
.view-node-search-result .search-results .list .search-result--availability,
.ting-reference-reverse-list .search-results .list .search-result--availability,
.pane-new-materials .search-results .list .search-result--availability {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}

// Materials title.
.pane-search-result .search-results .list .heading h2 {
  font-size: 28px;
}

.ting-author,
.ting-series {
  &,
  & a,
  & a:visited,
  & a:link, {
    color: #b9b9b9;
    font-style: italic;
    font-size: 14px;
  }
}

// Result selection/facet browser.
.pane-search-backends,
.pane-ding-facetbrowser {
  h2 {
    text-transform: none;
  }

  label {
    font-family: "SourceSansProSemibold", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;

    text-transform: none;
  }

  &,
  & a,
  & a:visited,
  & a:link, {
    color: #7c7c7c;
  }


}