.type-icon{
  position: relative;

  &:after {
    display: block;
    content: "";
    right: 0;
    top: 0;
    bottom: auto;
    left: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 91;
    background-size: contain;
  }

  &.type-icon-audiobook:after {
    background-image: url('../images/audiobook.png');
  }
  &.type-icon-ebook:after {
    background-image: url('../images/ebook.png');
  }
  &.type-icon-audiobook.type-icon-noquota:after {
    background-image: url('../images/audiobook-noquota.png');
  }
  &.type-icon-ebook.type-icon-noquota:after {
    background-image: url('../images/ebook-noquota.png');
  }
  &.type-icon-audiobook.type-icon-quota:after {
    background-image: url('../images/audiobook-quota.png');
  }
  &.type-icon-ebook.type-icon-quota:after {
    background-image: url('../images/ebook-quota.png');
  }
}
