
// Reset some problematic standard ding styles.

// .page-user-? WTF?
.page-user- .pane-content .pane-lists {
  float: none;
  margin: 0;
}

.page-user- .pane-content .pane-user-menu {
  float: none;
  width: auto;
  padding: 0;
}
