/**
 * Comon variables.
 */

$text-header-color: #404040;
// General text color.
$text-color: #666666;

// Secondary text color.
$text-secondary-color: #adadad;

// Secondary text color.
$text-trinary-color: #7c7c7c;

// Default text color on dark background.
$inverse-text-color: #c9c9c9;

$logo-header-one: #be0036;
$logo-header-two: #b80031;
$logo-header-flat: #be0036;

$menu-header-one: #e6e6e6;
$menu-header-two: #d9d9d9;
$menu-header-flat: #e6e6e6;

$menu-selected-one: #d8d8d8;
$menu-selected-two: #cccccc;
$menu-selected-flat: #d8d8d8;

$color-green: #00a84c;
$color-yellow: #f2ae1b;
$color-red: #c7003d;

$background-light: #f3f3f3;
$background-dark: #353535;

$header-height: 90px;


// Breakpoints lifted verbatim from ddbasic.

/* Breakpoints
   ========================================================================== */

$breakpoint-x-small:             630px;
$breakpoint-small:               768px;
$breakpoint-medium:              940px;
$breakpoint-large:              1210px;
