.video-teaser {
  width: 550px;
  height: 250px;
  text-align: center;
  @include transition(all .5s ease);
  position: relative;
  cursor: pointer;

  &:hover {
    @include box-shadow(rgba(64,64,64,1) 0px 0px 10px 2px);
  }

  .video-thumb {
    position: relative;
    height: 250px;
    overflow: hidden;

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;

      @include background-image(linear-gradient(90deg, #2d2d2d 0%, #0a0a0a 30%, #0a0a0a 70%, #2d2d2d 100%));
    }
  }

  span.title {
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
  }

  .play {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 100px;

    &:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 15px 30px;
      border-color: transparent transparent transparent white;
      top: 50%;
      margin-top: -15px;
      left: 50%;
      margin-left: -7.5px;
      z-index: 5;
      height: 0;
      width: 0;
    }
  }
}

.view-videos {
  float: right;
}

.video-modal {
  max-width: 720px;
}

.video-full {
  .title {
    font-size: 1.25em;
    font-weight: bold;
  }

  @include small() {
    .content iframe {
      width: 100%;
    }
  }
}

.page-reol-frontpage .view-videos {
  @include small-large() {
    .video-teaser {
      @include box-sizing(border-box);
      width: 100%;
      max-width: 550px;
      margin: auto;

      img {
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  @include small() {
    width: 100%;
  }
  @include medium-large() {
    width: 50%;
  }
}
/*
.page-reol-frontpage .view-videos {
  .view-content > div {
    @include small-large() {
      @include box-sizing(border-box);
      width: 50%;

      .video-teaser {
        @include box-sizing(border-box);
        width: 100%;
        max-width: 550px;
        margin: auto;

        img {
          max-width: none;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        span.portrait-link {
          bottom: 20px;
          top: auto;
        }
      }
    }

    @include small() {
      width: 100%;
      float: none;
      margin-bottom: 20px;

      &.first,
      &.last {
        padding: 0;
      }
    }
  }
}
*/
