#reader-modal-window,
#reader-settings {
  left: 12px;
  right: 12px;
  margin: 0 auto;
  width: auto;
  max-width: 600px;
  height: auto;
  padding-bottom: 50px;
}

#settings-night-mode {
  margin-bottom: 50px;
}

#reader-settings #settings-night-mode {
  margin-top: 0;
  position: relative;;
  top: -4px;
}

#reader-settings #settings-night-mode .settings-icon {
  margin-top: 22px;
}

#reader-button-previouspage, #reader-button-nextpage {
  margin-top: -15px;
  right: 0% !important;
  position: absolute;
  top: 50%;
  opacity: .3;
}

#reader-button-nextpage img,
#reader-button-previouspage img {
  width: auto !important;
  height: auto !important;
  padding: 18px;
  margin: 0 !important;
}

#reader-settings .settings-value {
  margin: 23px 60% 0 0;
}

.reader {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.reader img {
  max-width: initial;
}

#reader-settings .settings-header {
  line-height: 59px;
}

#reader-settings .settings-icon {
  margin-top: 21px;
}

#reader-settings #settings-reset-zoom {
  right: 13px;
}

#reader-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #reader-container {
    max-width: 100%;
  }
}
