@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: #f0f0f0;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

.page-wrapper {
  max-width: 1440px;
  margin: 2rem auto;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

@media all and (min-width: 49rem) {
  .topbar .pane-search-form {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

@media all and (min-width: 49rem) {
  .topbar #header {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

img {
  max-width: 100%;
}

.branding {
  border: 1px solid;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 6.875rem;
  width: 50%;
}

.pane-user-login {
  display: block;
  width: 100%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  background: #f0f0f0;
}

.pane-user-login select {
  background: white;
  border: 1px solid #d5d5d5;
  height: 41px;
  width: 100%;
  font-size: 13px;
  padding: 10px 30px;
  color: #969696;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

.pane-user-login input[type="text"],
.pane-user-login input[type="email"],
.pane-user-login input[type="submit"],
.pane-user-login input[type="password"] {
  text-decoration: none;
  border-radius: 6px;
  min-width: 250px;
  display: inline-block;
  position: relative;
  height: 41px;
  border: 1px solid #d5d5d5;
  color: black;
  font-size: 15.4px;
  font-family: "SourceSansPro", sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pane-user-login input[type="submit"] {
  line-height: 1em;
  padding: 15px 22px;
  margin-top: 1rem;
  border-radius: 0;
  background-color: #dcdcdc;
  width: 100%;
}

.pane-user-login input[type="submit"]:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.pane-user-login label {
  font-size: 16px;
  line-height: 22px;
  font-family: "SourceSansProLight", sans-serif;
  color: #505050;
  margin: 0 0 5px;
  display: block;
}

.pane-user-login .form-item {
  position: relative;
  margin-bottom: 1rem;
}

.pane-user-login form .description {
  color: #047537;
  font-family: "SourceSansPro", sans-serif;
  margin-top: 5px;
}

.pane-user-login form#user-login-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.view-articles {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

.pane-search-form {
  height: 6.875rem;
  margin-left: auto;
}

@media all and (min-width: 49rem) {
  .pane-search-form {
    height: auto;
    width: 100%;
  }
}

.search-form {
  border-top: 1px solid #d8d8d8;
  font-family: "SourceSansPro", sans-serif;
}

.search-form__icon__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.875rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-form__icon__wrapper::before {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #9c9c9c;
  content: "";
  font-size: 2.5rem;
  position: absolute;
  z-index: 99999;
}

@media all and (min-width: 49rem) {
  .search-form__icon__wrapper::before {
    color: #ffffff;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
  }
}

@media all and (min-width: 49rem) {
  .search-form__icon__wrapper.open {
    height: 2rem;
    left: calc(50% - 1rem);
    position: relative;
    width: 2rem;
  }
}

.search-form__icon__wrapper.open::before {
  content: '\ea0f';
  font-size: 1.5rem;
}

@media all and (min-width: 49rem) {
  .search-form__icon__wrapper.open::before {
    font-size: 1rem;
    top: 8px;
  }
}

@media all and (min-width: 49rem) {
  .search-form__icon__wrapper {
    background: #b81b40;
    display: block;
    height: 2rem;
    text-align: center;
  }
}

.search-form__icon {
  width: 4rem;
}

.search-form__content {
  background: #ffffff;
  display: none;
  height: 6.875rem;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

@media all and (min-width: 49rem) {
  .search-form__content {
    margin: 0 auto;
    position: relative;
    width: 1200px;
  }
}

.search-form__input--text {
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: gray;
  display: block;
  font-family: "SourceSansProLight", sans-serif;
  font-size: 2rem;
  height: 6.875rem;
  padding: 0 1.875rem;
  width: 100%;
}

.search-form__icon--close {
  background: #b81b40;
  height: 2rem;
  position: absolute;
  right: 1rem;
  width: 2rem;
}

@media all and (min-width: 49rem) {
  .search-form__icon--close {
    right: auto;
    left: calc(50% - 1rem);
  }
}

.search-form__icon--close::before {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #ffffff;
  content: "";
  font-size: 1rem;
  left: .5rem;
  position: absolute;
  top: .5rem;
}

html.js input.form-autocomplete {
  background-image: none;
}

.site-header {
  background: white;
}

.pane-menu-block-main-menu {
  width: 100%;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

@media all and (min-width: 49rem) {
  .pane-menu-block-main-menu {
    width: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.topbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media all and (min-width: 49rem) {
  .topbar__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
  }
}

.js .js-login-form {
  display: none;
}

.menu-name-main-menu {
  height: 5rem;
  background-color: #b81b40;
}

.menu-name-main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  margin: 0 5vw;
  list-style-type: none;
}

.menu-name-main-menu li {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-name-main-menu li a {
  color: white;
  text-decoration: none;
  font-family: "SourceSansPro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

@media all and (min-width: 49rem) {
  .menu-name-main-menu li a {
    color: #505050;
    font-weight: 700;
    line-height: 5rem;
    padding: 2.5rem;
  }
  .menu-name-main-menu li a:hover {
    background: #f0f0f0;
  }
}

@media all and (min-width: 49rem) {
  .menu-name-main-menu li {
    height: 100%;
    display: inline-block;
  }
}

@media all and (min-width: 49rem) {
  .menu-name-main-menu {
    background-color: transparent;
  }
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

.footer {
  background-color: #282828;
  color: white;
  font-size: 100%;
  font-family: "SourceSansPro", sans-serif;
  overflow: hidden;
  width: 100%;
  float: left;
  display: inline-block;
}

.footer__inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media all and (min-width: 49rem) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 0;
  }
}

.footer .menu a {
  text-transform: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  display: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 49rem) {
  .footer ul {
    display: block;
  }
}

.footer ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media all and (min-width: 49rem) {
  .footer ul li {
    display: block !important;
  }
}

.footer .panel-pane a {
  display: block;
  color: #787878;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 1rem 2rem;
}

@media all and (min-width: 49rem) {
  .footer .panel-pane {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.footer .pane-title {
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0;
  padding: 2rem;
}

@media all and (min-width: 49rem) {
  .footer .pane-title {
    border-top: none;
  }
}

.footer .leaf {
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

.user-login {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 6.875rem;
}

@media all and (min-width: 49rem) {
  .user-login {
    height: 5rem;
  }
}

.user-login a {
  font-size: 0;
  color: transparent;
  padding: 0 1rem;
}

.user-login__link::before {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 28px;
  color: #787878;
  content: "";
  display: inline-block;
  top: 10px;
}

.user-login__profile-link::before {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2rem;
  color: #787878;
  content: "";
  display: inline-block;
  top: 10px;
}

.notifications__count {
  position: absolute;
  background-color: #95b978;
  padding: 4px;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  font-family: "SourceSansProSemiBold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  margin-left: -10px;
  top: 31px;
}

@media all and (min-width: 49rem) {
  .notifications__count {
    top: 19px;
  }
}

@media all and (min-width: 49rem) {
  .pane-reol-profile-link {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.article--teaser {
  display: block;
  height: 440px;
  padding: 2rem 4rem;
  color: white;
  background-color: #393939;
}

.article--teaser a {
  color: white;
  text-decoration: none;
}

.article--teaser__title {
  position: relative;
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  font-family: "SourceSansProLight", sans-serif;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
}

.article--teaser--image .article--teaser__title {
  float: left;
  text-align: left;
}

@media all and (min-width: 49rem) {
  .article--teaser__title {
    max-width: 100%;
    margin: 0 0 1.2rem;
    text-align: left;
  }
}

.article--teaser__body {
  position: relative;
  display: none;
  margin: 0 0 2rem;
  opacity: 0.5;
  font-family: "SourceSansPro", sans-serif;
  line-height: 1.4rem;
}

@media all and (min-width: 49rem) {
  .article--teaser__body {
    display: block;
  }
}

.article--teaser__covers {
  position: relative;
  height: 100vw;
  max-height: 360px;
  max-width: 400px;
  margin: auto;
}

.article--teaser__covers img:nth-child(1) {
  position: absolute;
  width: 59%;
  height: 212px;
  max-width: 17rem;
  left: 2%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
  -ms-transform: translate(0%, 0%) rotate(0deg) scale(1);
  transform: translate(0%, 0%) rotate(0deg) scale(1);
  z-index: 2;
  -webkit-box-shadow: 11px -1px 28px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -1px 28px -13px rgba(0, 0, 0, 0.75);
}

@media all and (min-width: 24rem) {
  .article--teaser__covers img:nth-child(1) {
    height: 335px;
  }
}

@media all and (min-width: 49rem) {
  .article--teaser__covers img:nth-child(1) {
    -webkit-transform: translate(59%, 0%) rotate(0deg) scale(1);
    -ms-transform: translate(59%, 0%) rotate(0deg) scale(1);
    transform: translate(59%, 0%) rotate(0deg) scale(1);
    -webkit-box-shadow: -11px -1px 28px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -11px -1px 28px -13px rgba(0, 0, 0, 0.75);
  }
}

.article--teaser__covers img:nth-child(2) {
  position: absolute;
  height: 136px;
  width: 39%;
  max-width: 12.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translate(150%, 39%) rotate(0deg) scale(1);
  -ms-transform: translate(150%, 39%) rotate(0deg) scale(1);
  transform: translate(150%, 39%) rotate(0deg) scale(1);
  z-index: 1;
}

@media all and (min-width: 24rem) {
  .article--teaser__covers img:nth-child(2) {
    height: 229px;
  }
}

@media all and (min-width: 49rem) {
  .article--teaser__covers img:nth-child(2) {
    -webkit-transform: translate(0%, 39%) rotate(0deg) scale(1);
    -ms-transform: translate(0%, 39%) rotate(0deg) scale(1);
    transform: translate(0%, 39%) rotate(0deg) scale(1);
  }
}

.article--teaser__label {
  position: relative;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: "SourceSansProSemiBold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
}

.article--teaser__read-more {
  position: relative;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.7rem 1.2rem;
  font-family: "SourceSansProSemiBold", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
  font-weight: bold;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.article--teaser__read-more:hover {
  border: 1px solid white;
}

.article--teaser--image .article--teaser__read-more {
  float: right;
}

@media all and (min-width: 49rem) {
  .article--teaser__read-more {
    display: block;
  }
}

@media all and (min-width: 24rem) {
  .article--teaser {
    height: 475px;
    padding: 2rem;
  }
}

@media all and (min-width: 49rem) {
  .article--teaser__left, .article--teaser__right {
    float: left;
    width: 50%;
    margin: 0;
  }
}

.article--teaser--image .article--teaser__info {
  padding: 0 2rem;
}

@media all and (min-width: 49rem) {
  .article--teaser__info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article--teaser__info__inner {
    width: 100%;
    padding: 2rem;
  }
}

.article--teaser--image .article--teaser__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.article--teaser--image {
  padding: 0;
}

.article--teaser__cover {
  position: absolute;
  height: 440px;
  width: 100%;
}

@media all and (min-width: 49rem) {
  .article--teaser__cover {
    height: 475px;
  }
}

.field-name-field-article-image img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 475px;
  display: block;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/icomoon/icomoon.woff") format("woff"), url("/sites/all/themes/orwell/fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-light.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-regular.svg#SourceSansPro") format("svg");
}

@font-face {
  font-family: "SourceSansProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff2") format("woff2"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.woff") format("woff"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.ttf") format("truetype"), url("/sites/all/themes/orwell/fonts/SourceSansPro/sourcesanspro-semibold.svg#SourceSansProSemiBold") format("svg");
}

.ding-carousel .slick-arrow {
  background: #f0f0f0;
  border: 1px solid #9c9c9c;
  border-radius: 1px;
  font-size: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.ding-carousel .slick-arrow.slick-prev {
  left: 30px;
}

.ding-carousel .slick-arrow.slick-next {
  right: 30px;
}

.ding-carousel .slick-arrow::before {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "";
  color: #9c9c9c;
  font-size: 28px;
  text-indent: 0;
}

/*# sourceMappingURL=sourcemaps/orwell.main.css.map */
