@import "~bourbon";
@import "~bourbon-neat";
@import "base/_vars";
@import "base/_mixins";

// TODO(ts) - temporary fix. Must be removed in pane.
.node-type-breol-news {
  .main-content h2.pane-title {
    display: none;
  }
}

/**
 * Tabs theming.
 */
.pane-page-tabs {
  @include outer-container;
}

#tabs {
  @include span-columns(12);

  .tabs {
    li {
      float: left;
      padding: 10px 20px;
      margin: 0 5px;
      background: $brown-light;
    }
  }
}

.play_icon {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 44px;
  color: $red;
  background: white;
  padding: 22px 20px 20px 30px;
  text-align: center;
  border-radius: 50%;
}

// Titles in general. TODO(ts) - theme it right, but
// this point it is to eraly to tell this should be general.
.pane-node-content {
  > .pane-title {
    @include outer-container;

    padding: 100px 0 0;
    font-size: 1.857em;
    font-family: $font-light;
    color: $black-medium;
    margin-bottom: 40px;
  }
}

.main-content {
  width: 100%;
  display: inline-block;
}

// Hacky hack. Hide checkbox there is there for unknown reasons.
.pane-loans {
  .material-item {
    .left-column {
      > .item-checkbox {
        display: none;
      }
    }
  }
}

// Reader container.
#reader-container {
  z-index: 999;
}

.reader__back-button {
  &::before {
    @include icon("arrow-left-funny");
  }

  position: absolute;
  text-decoration: none;
  color: $black;
  font-size: 20px;
  top: 10px;
  left: 28%;
  z-index: 9999;

  &:before {
    position: relative;
    left: -4px;
    top: 2px;
  }

  &:hover {
    cursor: pointer;
  }

  @include media($tablet-l) {
    left: 20px;
  }
}

.node-type-breol-subject {
  @include media($phone-l) {
    .main-header,
    .organic-element--content {
      display: none;
    }
  }
}

.icon-spinner:before {
  display: none;
}

#edit-adgangsplatformen-wrapper {
  --spacing: 24px;
  --font-color: hsl(0, 0%, 5%);
}

#user-login fieldset {
  text-align: left;
}

#edit-adgangsplatformen-wrapper .fieldset-description {
  display: flex;
  column-gap: var(--spacing);
  line-height: var(--spacing);
}

#edit-adgangsplatformen-wrapper .fieldset-description::before {
  background-image: url("../svg/adgangsplatformen.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: calc(var(--spacing) * 2);
  width: 6%;
}

#edit-adgangsplatformen-wrapper .adgangsplatformen-notification-text {
  line-height: 1.25;
  text-align: left;
  color: var(--font-color);
  margin-top: var(--spacing);
}

#edit-adgangsplatformen-wrapper .adgangsplatformen-notification-text p {
  margin-bottom: calc(var(--spacing) * 0.25);
}

#edit-adgangsplatformen-wrapper .adgangsplatformen-notification-text ul {
  margin: calc(var(--spacing) * 0.5);
  list-style: disc;
}

#edit-adgangsplatformen-wrapper .adgangsplatformen-notification-text ul li {
  padding-bottom: calc(var(--spacing) * 0.5);
}

#edit-adgangsplatformen-wrapper .adgangsplatformen-notification-text strong {
  font-weight: bold;
}

#user-login:after {
  background-image: url(../svg/eReolenGo-Red.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 48px;
  margin-top: 36px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  #edit-adgangsplatformen-wrapper .fieldset-description {
    line-height: calc(var(--spacing) * 2);
  }
}
