$z-index-cover-base: 1;

.title {
  font-size: 2em;
}

.article {
  color: $black-medium;
  font-family: $font-light;
  padding: 20px 0;

  h2 {
    font-size: em(24, $base-font-size);
  }

  p {
    font-size: em(14, $base-font-size);
  }

  &--breol_section {
    padding: 0;
  }

  &--breol_page {
    padding-right: 15%;
    padding-left: 15%;

    &--title {
      margin: 20px 0;
    }

    p {
      color: #5a5a5a;
      line-height: 155%;
      font-size: 1.1em;
      margin-bottom: 32px;
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include media($tablet-p) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.article-standard {
  @include span-columns(12);
}

/**
 * Article cover.
 */
.article__cover-wrapper {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  // max-height: 476px;

  &:after {
    // padding-top: 56.25%;
    display: block;
    content: '';
  }

  &--breol_subject,
  &--breol_section,
  &--breol_page {
    max-height: 326px;
  }

  &--breol_page {
    @include media($phone) {
      max-height: 35vh;
    }
  }
}

.article__cover {
  background-position: center;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: $z-index-menu;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;

  &--breol_news {
    @include media($phone) {
      position: relative;
    }

    @include media($screen) {
      min-height: 476px;
    }

    @include media($tablet-l) {
      min-height: 323px;
    }

    @include media($phone) {
      min-height: 100%;
    }
  }

  &--breol_section {
    @include outer-container;
    background-size: 80%;
    background-position: bottom right;
    height: 326px;

    @include media($phone) {
      background: none;
      height: auto;
    }
  }

  &--breol_subject {
    @include outer-container;
    background-size: 80%;
    background-position: bottom right;
    height: 326px;
  }

  &--breol_page {
    max-height: 326px;
    position: absolute;

    @include media($phone) {
      max-height: 35vh;
    }
  }
}

.cover {

  &__venskab,
  &__sjov {
    .article__cover--breol_subject {
      background-size: cover;
    }
  }

  &__sport {
    .article__cover--breol_subject {
      background-size: 93%;
    }
  }

  &__gys {
    .article__cover--breol_subject {
      background-size: 100%;
    }
  }

  &__kærlighed {
    .article__cover--breol_subject {
      background-size: cover;
      background-position: 41%;
    }
  }

  &__dyr {
    .article__cover--breol_subject {
      background-size: 93%;
      background-position: center right;
    }
  }

  &__historie {
    .article__cover--breol_subject {
      background-size: 90%;
      background-position: center right;
    }
  }

  &__eventyr {
    .article__cover--breol_subject {
      background-size: 90%;
      background-position: center right;
    }
  }
}

.article__cover__content {
  @include outer-container;
  z-index: 10;
  position: relative;
  max-width: 550px;
  max-height: 100%;
  padding: 40px 15px;
  color: $title-color;

  // Font.
  text-align: center;

  &--breol_section,
  &--breol_subject {
    text-align: left;
    width: 100%;
    max-width: 1180px;
    font-family: $font-mikado;
    padding: 0 100px;

    .title {
      font-size: em(40, $base-font-size);
    }
  }

  &--breol_section {
    @include media($phone) {
      padding: 15px;
    }
  }
}

.article__cover__overlay {
  height: 100%;
  width: 100%;
  background: rgba(235, 235, 235, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  align-items: center;
  overflow: hidden;
}

.article__carousel {
  @include outer-container;
  margin-top: 50px;
  margin-bottom: 30px;
}

.field-name-field-subtitle {
  font-family: $font-regular;
  line-height: 28px;
  position: relative;
  display: inline-block;

  &:after {
    content: " / ";
    position: absolute;
    top: 0;
    right: -10px;
  }
}

.field-name-field-files {
  color: $black-medium;
  font-family: $font-light;
  .field-label {
    font-weight: normal;
    font-size: em(24, $base-font-size);
    padding: 20px 0;
  }
}

.cover__audiobooks {
  .article__cover--breol_section {
    background: url(../images/headphones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 78% 37px;
  }
}

.cover__ebooks {
  .article__cover--breol_section {
    background: url(../images/ebooks.png);
    background-repeat: no-repeat;
    background-size: 21%;
    background-position: 78% center;
  }
}
