.audio-preview {
  @include rounded-box();
  position: relative;
  height: 100%;
  min-height: 380px;
  overflow: hidden;
  background-color: $color-cerulean;

  @include media($tablet-p) {
    min-height: 300px;
  }

  .ting-cover {
    height: 230px;
    width: 160px;
    margin: 40px auto 20px;

    @include media($tablet-p) {
      height: 180px;
      width: 125px;
      margin: 20px auto 10px;
    }
  }

  .audio-preview__details {
    // Anchor button placement to here.
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;

    color: #fff;
    margin: 0 40px;
  }

  .audio-preview__meta {
    // Leave room for the play button.
    margin-left: 65px;
    // Add a bit of spacing to the top.
    padding-top: .2rem;
    line-height: 1.2rem;
  }

  .audio-preview__header {
    font-family: $font-mikado;
    text-transform: uppercase;
    font-size: 14pt;
  }

  .audio-preview__title {
    font-weight: bold;
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14pt;
    line-height: normal;
  }

  .audio-preview__button {
    position: absolute;
    background-color: transparent;
    background-image: url('../svg/round_play_button.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    top: 0;
    left: 0;
    font-size: 0;
    color: white;
    border: 0;
    height: 43px;
    width: 48px;
    outline: 0;

    &.playing {
      background-image: url('../svg/round_pause_button.svg');
    }
  }

  // We don't display time.
  .audio-preview__time {
    display: none;
  }

  .audio-preview__progress {
    height: 4px;
    width: 100%;
    // Light version of $color-cerulean.
    background-color: #47bfd1;
    position: absolute;
    margin-top: 20px;

    .audio-preview__progress__complete {
      height: 100%;
      width: 0;

      background-color: #fff;
    }

  }
}
