// Uber hack. Hide carousel tabs.
.carousel-tabs {
  display: none !important;
}

.pane-carousel {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

$carousel-outer-padding: 0 30px;

.ding-carousel {
  ul {
    display: flex;
    vertical-align: top;
    position: relative;
    height: auto;
    margin: 0 0 25px 0;
    padding: $carousel-outer-padding;

    @include media($phone) {
      padding: 0;
      margin-bottom: 0;
    }
  }

  li {
    display: inline-block;
    flex: none;
    text-align: left;
    margin-bottom: 1em;
    margin-right: 0;
    width: 200px;

    @include media($phone) {
      margin-right: 5px;
    }
  }

  .carousel__header {
    padding: 0 30px 30px 33px;

    @include media($phone) {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}

// Old slick carousel.
.ting-search-carousel {
  .slick-arrow {
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    // IE renders the SVG at the right size, but centered, which makes the
    // left/right positioning in the following classes not appear to work if
    // the real size of the element is much larger.
    width: 16px;
    top: 40%;
    margin: auto;
    cursor: pointer;
  }

  .slick-prev.slick-arrow {
    background-image: url('../svg/arrow_left.svg');
    left: 5px;
  }
  .slick-next.slick-arrow {
    background-image: url('../svg/arrow_right.svg');
    right: 5px;
  }
}

// New Swiper carousel.
.ding-carousel {
  position: relative;

  .carousel-wrapper {
    margin: 0 30px;
    overflow: hidden;
  }

  ul {
    padding: 0;
  }

  .button-prev,
  .button-next {
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    // IE renders the SVG at the right size, but centered, which makes the
    // left/right positioning in the following classes not appear to work if
    // the real size of the element is much larger.
    width: 16px;
    top: 40%;
    margin: auto;
    cursor: pointer;
  }

  .button-prev {
    background-image: url('../svg/arrow_left.svg');
    left: 5px;
  }
  .button-next {
    background-image: url('../svg/arrow_right.svg');
    right: 5px;
  }
}

.carousel-item-title {
  color: $title-color;
  text-decoration: none;
  font-family: $font-regular;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;

  // One line - word wrap with ellipsis.
  @include word-wrap();
}

.carousel-item-creator {
  display: block;
  text-decoration: none;
  color: $title-color;
  margin-bottom: 5px;
  @include word-wrap();
}

.carousel-item-image {
  img {
    width: 100%;
    height: auto;
    background-image: url('../images/placeholder.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.carousel-item-link {
  text-decoration: none;
}
