// Dialog popup widget.

.ui-dialog {
  // There's a race condition between ui.Dialogs CSS and JS when being loaded
  // through ajax. The CSS sets the position to absolute for the dialog element.
  // The positioning code checks if the dialog element have position: static,
  // and sets it to relative if that's the case. Relative positioning causes it
  // to fail and render the dialog at full window width. For authenticated
  // users, the CSS is added to the page head (trigged by something unknown),
  // but for anonymous users, the CSS is loaded through the ajax request,
  // which can get beaten by the JS. So we'll just ensure that the dialog
  // element has position: absolute.
  // position: absolute;
  border-radius: 0;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  top: 300px !important;
  position: absolute !important;
  border: 0;
  box-shadow: 0px 0px 5px 0px #aaa;
  min-width: 600px;
  // Adjusted so videos will fit.
  max-width: 730px;
  max-height: 90%;
  box-shadow: 0 0 33px 0 rgba(0, 0, 0, .3);
  padding: 25px 30px;
  text-align: center;
  overflow-y: auto;

  &.try-ebook,
  &.try-audiobook {
    // Ensure that the frame will fit.
    max-height: none;
    // Closer to top of window to get more room.
    top: 30px !important;
    // Full width popup for audio books.
    max-width: 1180px;
    // Let the player/reader of the try popup overflow so it can go full page.
    overflow-y: visible;

    @include media($phone) {
      // And even closer to the top for phones.
      top: 0px !important;
    }

    iframe {
      @include media($tablet-l) {
        // Smaller iframe for mobile phones.
        height: 500px;
      }
    }
  }

  @include media($tablet-l) {
    position: fixed !important;
    min-width: 450px !important;
    max-width: 90% !important;
    top: 100px !important;
  }

  @include media($tablet-l) {
    top: 30px !important;
  }


  @include media($phone) {
    // On mobile we go full screen.
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
  }

  @include media($phone) {
    &.video-modal {
      // Give video a bit mere space on mobile.
      .ui-dialog-content {
        padding-left: 0;
        padding-right: 0;
      }
      width: 100%;
      // This is the trick from
      // http://alistapart.com/article/creating-intrinsic-ratios-for-video
      // to scale the iframe to the proper aspect ratio.
      .media-youtube-video {
        position: relative;
        // This is 16:9.
      	padding-bottom: 56.25%;
      	padding-top: 25px;
      	height: 0;

      }

      iframe {
        position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }

  &, .ui-widget-header, .ui-dialog-content {
    color: $title-color;
    font-family: $font-light;

    em {
      color: $green-dark;
    }
  }

  a {
    & {
      color: white;
      text-align: center;
    }
  }

  form {
    text-align: left;

    .form-actions {
      text-align: center;
    }
  }

  .action-button {
    margin-top: 50px;
    float: none;
    background: $red;

    &:before {
      color: white;
    }
  }

  .ui-corner-all {
    border: 0;
    background: #fff;
    border-radius: 5px;
  }

  .ui-dialog-titlebar {
    // Resetting.
    margin: 0;
    padding: 0;
    .ui-dialog-title {
      width: auto;
      float: none;
    }

    @include heading(em(50));
    font-family: $font-mikado;
    text-transform: uppercase;

    .ui-dialog-title {
      display: block;
    }

    .ui-dialog-titlebar-close {
      top: 5px;
      right: 0px;
      position: absolute;
      font-size: 10px;
      opacity: 0.6;

      @include media($phone) {
        top: 15px;
        right: 15px;
      }
    }
 }

  .ui-icon-closethick {
    // Resetting.
    width: auto;
    height: auto;
    text-indent: inherit;

    background-image: none;
    @include icon('.icon-close-b');
    font-size: 22px;
  }
}

.ui-widget-overlay {
  opacity: .4;
}

.ui-dialog-is-open {

  @include media($phone) {
    overflow: hidden !important;
    position: fixed !important;;
  }
}
