  // Layout.
.article--teaser--medium {
  @include span-columns(6);

  @include media($tablet-p) {
    @include span-columns(8);
  }

  @include media($phone) {
    @include span-columns(12);
  }
}

.article--teaser--small {
  @include span-columns(3);

  @include media($tablet-p) {
    @include span-columns(4);

  }

  @include media($phone) {
    @include span-columns(6);
  }
}

.article--teaser__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  transition: transform 0.35s;
}

.article--teaser {
  max-height: 295px;
  display: inline-block;
  position: relative;
  // Establish stacking context, so contained elements with z-index wont
  // overlap later elements (like the popup window).
  z-index: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: $red-dark;

  // This aligns all divs inside in the middle of the parent.
  * {
    vertical-align: middle;
  }

  img {
    height: 100%;
    width: 100%;
    transition: transform 0.35s;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.fancy-box {

  .front & > div:nth-child(5) {

    @include media($phone) {

      width: 50%;

      .article--teaser {

        margin-left: 0;

        img {
          width: 200%;
          max-width: 2000px;
          left: -25%;
          position: relative;
        }
      }
    }
  }

  .front & > div:last-child {
    .article--teaser {
      @include media($phone) {
        margin-left: 50%;
        margin-right: 50%;
      }
    }
  }
}

.fancy-box__push-left {

  .article--teaser {
    @include shift(3);

    @include media($tablet-p) {
      margin-left: 0;
    }

    @include media($phone) {
      margin-left: -50%;
    }
  }
}

.fancy-box__push-right {

  .article--teaser {
    margin-right: percentage(3/12);

    @include media($tablet-p) {
      margin-right: 0;
    }

    @include media($phone) {

      .front & {
        margin-right: percentage(6/12);
        margin-left: percentage(6/12);
      }
    }
  }
}

.article--teaser__type {
  position: absolute;
  z-index: 20;
  color: white;
  text-transform: uppercase;
  left: 25px;
  top: 15px;
  font-family: $font-mikado;
  font-size: em(18);
  z-index: 2;
}

.article--teaser__title {
  position: absolute;
  bottom: 15px;
  left: 25px;
  font-size: 22px;
  color: $white;
  z-index: 4;
  transition: transform 0.35s;
}


// Transisitions.
.article--teaser__caption {
  color: $white;
  font-size: em(16, $base-font-size);
  line-height: 1.3;

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;

  text-transform: none;
  opacity: 0;
  transform: translate3d(0,50px,0);
  transition: opacity 0.35s, transform 0.35s;
  z-index: 4;
}

.article--teaser {

  .is-desktop &:hover {
    .article--teaser__caption {
      transform: translate3d(0,0,0);
      opacity: 1;
    }

    img {
      transform: translate3d(0,-80px,0);
    }

    .article--teaser__title {
      transform: translate3d(0,-100px,0);
    }

    .article--teaser__overlay {
      transform: translate3d(0,-80px,0);
    }
  }

  .is-desktop &.article--teaser--small:hover {
    img {
      transform: translate3d(0,-110px,0);
    }

    .article--teaser__title {
      transform: translate3d(0,-130px,0);
    }

    .article--teaser__overlay {
      transform: translate3d(0,-110px,0);
    }
  }
}

.pane-fancy-box {
  @include outer-container;
  display: block;
  @extend .fade-in;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;

  > .pane-title {
    font-size: em(26, $base-font-size);
    font-family: $font-light;
    color: $black-medium;
    margin-bottom: 40px;
  }
}
