select {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear false;
  -o-transition: all 0.15s linear false;
  transition: all 0.15s linear;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border: 1px solid #d5d5d5;
  // height: 36px;
  width: 99%;
  padding: 8px;
  font-family: $font-mikado;
  font-size: 13px;
  padding: 10px 30px;
  color: #969696;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  background: url(../images/select_arrow.png) no-repeat 96% 10px;
}

@include placeholder {
  color: lighten($title-color, 0.8);
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"] {
  text-decoration: none;
  border-radius: 6px;
  color: white;
  min-width: 250px;
  display: inline-block;
  position: relative;
  padding: 15px 22px;
  border: 1px solid $white-dark;
  color: $title-color;
  font-size: 15.4px;
  font-family: $font-light;
  width: 99%;
  -webkit-appearance:none;
  -moz-appearance:none;
}

input[type="submit"] {
  @include button($red);
  width: inherit;
  line-height: 1em;
  padding: 15px 22px;
}

label {
  font-size: 16px;
  line-height: 22px;
  margin: 0.5em 0;
  font-family: $font-mikado;
  color: $title-color;
}

.form-item {
  position: relative;
}

form {
  .description {
    color: #047537;
    font-family: $font-regular;
    margin-top: 5px;
  }
}
