// Add language and icon below cover
.carousel-item-language,
.field-name-ting-details-language .field-item {
  color: $title-color;
  text-decoration: none;
  font-family: $font-light;
  font-size: 14pt;
  line-height: normal;

  &:before {
    @include icon("flag");
    margin: 0 5px 0 2px;
    font-size: 12pt;
  }
  .material-carousel-colored & {
    color: $white;
  }
}
