
#user-login {
  fieldset {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
  }

  .unilogin-wrapper a {
    @include button($red, false);
    text-align: center;
    /* display: block; */
    margin: .5em 0;
  }
}