
.menu {
  a {
    text-decoration: none;
    text-transform: capitalize;
  }
}

/* Topbar menu
   ========================================================================== */

.topbar {

  // Layout.
  display: block;
  padding: 0;
  width: 100%;

  ul.menu {
    width: calc-percentage(9,12);
    float: left;

    @include media($tablet-p) {
      height: auto;
      float: left;
      width: 100%;
      display: none;
      // Neutralize padding.
      margin-left: -15px;
      width: calc(100% + 30px);

      li {
        width: 20%;
        @include media($phone) {
          width: 100%;
        }
        background: $menu-tablet-background;

        &:hover {
          background: lighten($menu-tablet-background, 2);
        }
      }
    }

    @include media($screen) {
      display: block !important;
    }
  }

  li {
    // Layout.
    float: left;
    display: inline-block;

    margin: 0;
    position: relative;

    // Fonts style.
    font-family: $font-light;
    line-height: 45px;
    text-align: center;

    // Colors.
    color: $white;

    &:hover {
      background: lighten($red, 2);
    }

    &.active-trail {
      background: lighten($red, 2);
    }

    ul.menu & {
      margin-left: 40px;
    }

    .ajax-progress-throbber {
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $black;
      opacity: 0.8;
      text-align: center;

      .throbber {
        position: absolute;
        margin: 0;
        height: 22px;
        width: 22px;
        left: 39px;
        top: 35px;
        background-image: none;
        @include icon('.icon-spinner');
        font-size: 22px;
        animation: rotating 2s linear infinite;
      }
    }

    a {
      margin: 0;
      height: 100px;
      display: block;
      padding-top: 48px;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      color: $white;
      text-transform: uppercase;
      font-size: em(14, $base-font-size);
      text-align: center;
      z-index: $z-index-menu;
    }

    &:before {
      font-size: 34px;
      display: block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      overflow: hidden;
      top: 20px;
      z-index: calc($z-index-menu -  1);
    }

    // Menu-item: "E-bøger".
    &:nth-child(1) {
      &:before {
        @include icon('.icon-e-books');
      }
    }

    // Menu-item: "Netlydbøger".
    &:nth-child(2) {
      &:before {
        @include icon('.icon-audio-books');
      }
    }

    // Menu-item: "Login".
    &:nth-child(3) {
      &:before {
        @include icon('.icon-profile');
      }
    }

    // Menu-item: "Hjælp".
    &:nth-child(4) {
      &:before {
        @include icon('.icon-help');
      }
    }

    // Menu-item: "Søgning".
    &:nth-child(5) {
      &:before {
        @include icon('.icon-search');
      }
    }
  }
}

.top-burger {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 22px;
  display: none;

  @include media($tablet-p) {
    display: block;
  }
}

.icon-menu {
  position: relative;
  right: 21px;
  top: -4px;
  cursor: pointer;
}
