.search-result {
  @include row();
  color: $black-medium;
  font-family: $font-light;
  padding: 20px 0;
  border-bottom: 1px solid $white-dark;

  &:last-child {
    border: none;
  }

  ul.list {
    padding: 0 !important;
  }
}

.search-results {
  @include row();

  ul.list {
    padding: 0 !important;
  }
}

.view-mode-search-result .ting-object-left {
  @include span-columns(2, 12);
  padding-right: 15px;
  overflow: hidden;

  @include media($tablet-p) {
    @include span-columns(3);
  }
}

.view-mode-search-result .ting-object-right {
  @include span-columns(10, 12);
  @include shift(0);
  padding-left: 20px;

  @include media($tablet-p) {
    @include span-columns(9);
    padding-left: 0;
  }
}

.search-result--heading-type {
  display: none; // TODO(ts) -  reomve before merge.
}

.field-name-ting-title {
  font-size: em(29, $base-font-size);

  h2 {

    color: $black-medium;
    font-family: $font-light;
    margin: 0 0 10px;
    font-size: 28px;

    a {
      color: $black-medium;
      font-family: $font-light;
      text-decoration: none;
    }
  }
}

.field-name-ting-author {
  font-family: $font-light-italic;
   color: $black-medium;
  a {
    font-family: $font-light-italic;
    text-decoration: none;
     color: $black-medium;
  }
}

.field-name-ting-abstract {
  margin: 20px 0;
  // Make text readable.
  max-width: 680px;
  line-height: 20px;
}

.action-button,
.search-result--availability-link {
  text-decoration: none;
  @include button($green);
  color: white;
  float: left;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 20px;

  &:before {
    color: rgb(1, 115, 52);
  }

  &.available {
    background-color: #01b552;
  }

  &.reservable {
    background-color: #ffb81e;
  }

  &.not-reservable,
  &.unavailable {
    display: none;
  }

}

.field-type-ting-series {
  border-top: 1px solid $white-medium;
  border-bottom: 1px solid $white-medium;
  padding: 20px 0;
  margin: 20px 0;

  a {
    color: $red-light;
    font-family: $font-mikado;
    text-decoration: none;

    &:hover {
      color: $blue-medium;
      text-decoration: underline;
    }
  }
}

.pane-search-result-count {
  float: left;
  @include media($tablet-l) {
    float: none;
  }
  margin: 22px 0 14px;

  /* .page-title { */
    color: $black-medium;
    font-family: $font-light;
    text-decoration: none;
    font-size: 28px;
  /* } */
}

.pane-search-per-page,
.pane-ting-search-sort-form {
  float: right;
  width: 25%;

  @include media($tablet-l) {
    width: 40%;
  }

  @include media($tablet-p) {
    width: 100%;
  }
}

.stacked-section {
  @include span-columns(12);
}

.pane-search-result {
  @include span-columns(12);
}

// Pagination.
.item-list .pager li {
  padding: 0;
  margin: 0 2px;
  color: $title-color;

  &.pager-next {
    float: right;

    a {
      color: $title-color;
    }
  }

  &.pager-previous {
    float: left;

    a {
      color: $title-color;
    }
  }

  a {
    text-decoration: none;
    color: $white-dark;
    text-transform: capitalize;

    &:hover {
      color: $red;
    }
  }
}

.item-list .pager {
  padding: 40px 0;
  font-size: 20px;
}


/*  Facets
    ------------------------------------------------------- */
.pane-breol-facetbrowser {

  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: 50px;
  margin-top: 30px;

  fieldset {

    @include span-columns(4);
    position: relative;
    margin-top: 20px;

    @include media($phone) {
      @include span-columns(12);
    }

    &:nth-child(5n) {
      clear: left;
    }

    legend {
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear false;
      -o-transition: all 0.15s linear false;
      transition: all 0.15s linear;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: white;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      border: 1px solid #d5d5d5;
      width: 99%;
      padding: 8px;
      font-family: $font-mikado;
      font-size: 13px;
      padding: 19px 30px;
      color: $title-color;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 1px;
      background: url(../images/select_arrow.png) $white-medium no-repeat 96% 18px;
      cursor: pointer;

      &:hover {
        background-color: #677372;
        color: white;
      }
    }
  }

  .fieldset-wrapper {
    background: white;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
    padding: 30px;
    font-family: $font-regular;
    letter-spacing: 1px;
    max-width: 99%;
    margin-top: 30px;

    &.js-processed {
      position: absolute;
      width: 99%;
      margin-top: 12px;
      z-index: 99;
    }

    .form-item {
      border-bottom: 1px solid $white-medium;
      padding: 10px 0;
    }
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: $blue-medium;

    &.expand,
    &.unselect {
      position: absolute;
      bottom: 10px;
      left: 35px;
      color: $title-color;

      & {
        display: none;

        .open + & {
          display: block;
        }
      }

      &:before {
        @include icon('.icon-arrow-right');
        float: right;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        transition: all 300ms ease-out;
        font-size: 8px;
        position: relative;
        top: 4px;
        left: 3px;
      }

      &.expand-less:before {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 3px;
        left: 5px;
      }
    }
  }
}

.pane-panels-mini.pane-search {
  .header {
    // border-bottom: 1px solid $white-medium;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
}

.ting-cover {
  min-height: 178px;
  position: relative;
  max-width: 100%;
  // Hide our image background hack.
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

  @include media($tablet-l) {
    min-height: 100px;
  }

  @include media($phone) {
    min-height: 91px;
  }

  &:before {
    content: " ";
    background: url(../svg/camera.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
  }

  a {
    z-index: 2;
    position: relative;
  }

  .view-mode-search-result & {
    width: 182px;

    @include media($tablet-p) {
      width: auto;
    }
  }
}

.page-search {
  .pane-page-tabs {
    display: none;
  }
}

/*  Search form
    ------------------------------------------------------- */
#search-block-form {
  @include outer-container;
  text-align: center;
  background: $white-medium;
  font-family: $font-light;
  padding: 40px;
  overflow: hidden;

  input[type='text'] {
    border: none;
    border: none;
    padding: 40px 80px;
    text-align: center;
    position: relative;
    font-size: 26px;
    background: transparent;
    font-family: $font-light;
    font-weight: normal;
    color: $title-color;

    @include media($tablet-p) {
      padding: 0;
      font-size: 20px;
      max-width: 100%;
      text-align: center;
    }

    @include media($phone) {
      padding: 0;
      font-size: 16px;
      max-width: 100%;
    }
  }

  .container-inline {

    position: relative;

    &:before {
      @include icon('.icon-search');
      position: absolute;
      right: 0;
      font-size: 180px;
      font-size: 190px;
      opacity: 0.1;
      bottom: -66px;

      @include media($tablet-p) {
        bottom: auto;
        font-size: 80px;
        top: -26px;
        left: 5%;
      }
    }
  }
}

.pane-search-form {
  background: $white-medium;
  width: 100%;
  float: left;
  display: inline-block;
  display: none;
}

.search-overlay--wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 99;
  color: rgb(255, 255, 255);
  text-align: center;
}

.search-overlay--inner {
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  max-width: 300px;
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  border-radius: 30px;
  background-color: rgba(100, 100, 100, 0.8);

  .cancel {
    a {
      color: $red;
      text-decoration: none;
    }
  }
}

.search-overlay--icon {
  height: auto;
  width: auto;
  font-size: 40px;
}

.search-overlay--text {
  margin-bottom: 0;
  font-family: $font-regular;
  font-size: 20px;
  margin: 10px 0;
}

.icon-spin {
  display: inline-block;
   @include animation(spin 2s infinite linear);
}

/*  Search Grid View.
    ------------------------------------------------------- */
.js-search-results-grid-view {

  .search-results {

    .list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .search-result {
    @include span-columns(2);
    border: none;
    padding: 0;
    margin: 0;
    @extend .fade-in;

    @include media($tablet-l) {
      @include span-columns(1 of 5);
    }

    @include media($tablet-p) {
      @include span-columns(1 of 3);
    }

    @include media($phone) {
      @include span-columns(1 of 2);
    }

    .ting-object-right,
    .field-type-ting-collection-types {
      display: none;
    }

    .ting-object-left {
      width: 100%;
      padding-right: 20px;
    }

    .ting-cover {
      width: 100%;
    }

    // Make heigth 100% of all items.
    [class^="field-"], [class*=" field-"],
    .field,
    .ting-object,
    .search-snippet-info  {
      height: 100%;
    }
  }

  .search-snippet {
    display: none;
  }
}

.view-picker {
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;

  .view-picker__item {

    font-size: 40px;
    display: inline-block;
    color: $white-dark;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      color: white;
      background: $red;
    }

    &.active {
      background: $white-dark;
      color: white;
    }

    &.list-view {
      @include icon('.icon-list-view');
    }

    &.grid-view {
      @include icon('.icon-grid-view');
    }
  }
}
