/*  Loans and reservations.
    ------------------------------------------------------- */
.material-item {

  @extend .search-result;
  padding: 40px 0;

  .left-column {
    @include span-columns(2);
  }

  .right-column {
    @include span-columns(10);
    padding-left: 30px;
  }
}

.pane-user-menu {

  margin-top: 50px;

  .menu {

    @include outer-container;

    li {
      @include span-columns(4);
    }

    a {
      @include button($white, false);
      color: $black-light;
      border: 1px solid $white-dark;
      width: 96%;
      text-align: center;

      &:before {
        content: " ";
      }

      &.active,
      &:hover {
        background: $red;
        color: $white;
      }
    }
  }
}

.item-title {
  font-size: 28px;
  margin-bottom: 20px;

  a {
    color: $title-color;
    font-family: $font-light;
    text-decoration: none;
  }
}

.item-information-label {
  float: left;
  width: 40%;
}

.item-information-data {
  float: left;
  width: 60%;
}

.item-information-list {

  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    padding: 10px 0;
    font-family: $font-light;
  }
}

.expires-in {
  color: $green;

  .item-information-data {
    font-family: $font-bold;
  }
}

.pane-loans {
  margin-top: 50px;
}

.pane-loans,
.pane-reservations {

  .pane-content {
    padding: 20px 0;
    font-family: $font-light;
  }

  .pane-title {
    @extend %ting-object-main-title;
  }
}

.material-buttons {
  margin-top: 75px;
}

/*  Profile edit form.
    ------------------------------------------------------- */
.pane-profile2-form {

  margin-top: 50px;

  .pane-title {
    @extend %ting-object-main-title;
    margin-bottom: 50px;
  }

  legend {
    font-size: 16px;
    color: $title-color;
    margin-bottom: 10px;
  }

  .form-actions {
    input[type="submit"] {
      float: right;
    }
  }
}

input.password-confirm, input.password-field {
    width: 99%;
    margin-bottom: 0;
}

#edit-ding-user-fee-sms {
  color: $blue-dark;
  margin-bottom: 50px;
}

.field-name-field-phone {

  input {
    padding: 15px 22px 15px 62px;
  }

  .field-prefix {
    position: absolute;
    z-index: 99;
    top: 37px;
    left: 10px;
    border-right: 1px solid $white-dark;
    height: 40px;
    padding: 13px 13px 20px 0;
  }
}

/*  Bookmarks form.
    ------------------------------------------------------- */
.select-all {
  .form-checkbox {
    float: left;
    width: 30px;
  }
}

.pane-bookmarks {

  .form-item-title {
    border-top: 1px solid $white-dark;
    border-bottom: 1px solid $white-dark;
    padding: 20px 0;
  }

  .material-item {
    .item-checkbox {
      float: left;
      width: 20%;
    }

    .form-type-checkbox {
      padding: 0;
      margin-top: 0;
    }
  }

  .action-buttons {
    margin: 50px 0;
  }
}
