/*
** Styling for template `node--article--view-mode--teaser.tpl.php`
** Shows large list image and promoted materials
*/

@import "../bootstrap/bootstrap";

/* Carousel with article teasers  */
.paragraphs-item-article-carousel,
.paragraphs-item-picked-article-carousel {
  --width: 1049px;
  --subject-col-width: 236px;
  --carousel-width: 1120px;
  --height: 200px;
  --text-color-dark: #333;
  --text-color-light: #fff;
  --spacer: 12px;
  --spacerX2: calc(var(--spacer) * 2);
  --spacerX3: calc(var(--spacer) * 3);

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.07),
    0.4px 0.8px 1px -1.3px hsl(var(--shadow-color) / 0.07),
    0.9px 1.7px 2.1px -2.6px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.08),
    0.7px 1.4px 1.7px -0.9px hsl(var(--shadow-color) / 0.08),
    1.8px 3.5px 4.4px -1.7px hsl(var(--shadow-color) / 0.07),
    4.3px 8.5px 10.6px -2.6px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-high: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.07),
    1.1px 2.1px 2.6px -0.4px hsl(var(--shadow-color) / 0.07),
    1.9px 3.8px 4.7px -0.7px hsl(var(--shadow-color) / 0.07),
    3.1px 6.3px 7.8px -1.1px hsl(var(--shadow-color) / 0.07),
    5px 10px 12.4px -1.5px hsl(var(--shadow-color) / 0.07),
    7.8px 15.6px 19.4px -1.9px hsl(var(--shadow-color) / 0.07),
    11.9px 23.7px 29.4px -2.2px hsl(var(--shadow-color) / 0.07),
    17.5px 35px 43.4px -2.6px hsl(var(--shadow-color) / 0.07);

  .article--teaser {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "cover subject"
      "title title"
      "body read-more";
    row-gap: var(--spacer);
    isolation: isolate;
    color: var(--text-color-dark);
    max-width: 100vw;
    margin: 0 0 var(--spacerX3) 0;

    @include grid-media($medium) {
      --height: 330px;
      grid-template-columns: auto var(--subject-col-width);
      width: var(--width);
    }
  }

  .article--teaser__wrapper a {
    text-decoration: none;
  }

  .article--teaser__cover {
    grid-area: cover;
    max-height: var(--height);
  }

  .article--teaser__cover img {
    object-position: center;
    max-height: var(--height);
    object-fit: cover;
  }

  .article--teaser__subject {
    grid-area: subject;
    max-height: var(--height);

    text-align: right;
    text-transform: uppercase;
    color: var(--text-color-light);
    padding: var(--spacerX2);
    font-weight: 600;
  }

  .article--teaser__title {
    grid-area: title;
    font-size: calc(calc(24 / 16) * 1rem); /* 24px font size */
    padding: 0 var(--spacerX2);
    margin-top: var(--spacerX2);
    @include grid-media($medium) {
      padding: 0 var(--spacerX3);
      margin-top: var(--spacer);
    }
  }

  .article--teaser__body {
    grid-area: body;
    font-size: calc(calc(16 / 16) * 1rem); /* 16px font size */
    padding: 0 var(--spacerX2);
    line-height: 1.3;
    @include grid-media($medium) {
      padding: 0 var(--spacerX3);
    }
  }

  .article--teaser__read-more {
    grid-area: read-more;
    margin-right: var(--spacerX2);
    @include grid-media($medium) {
      margin-right: 0;
    }
  }

  .article--teaser__read-more button {
    background: none;
    border: 1px solid var(--text-color-dark);
    padding: var(--spacer) var(--spacerX2);
  }

  .article--teaser__promoted-materials {
    position: absolute;
    top: 70px;
    right: var(--spacerX2);
    width: 200px; /* Fixed width needed to avoid stacking the images in Safari */
    text-align: right;
    @include grid-media($medium) {
      top: 120px;
      text-align: center;
      width: 300px;
    }
  }

  .article--teaser__promoted-materials img:nth-child(1) {
    max-height: 150px;
    position: relative;
    z-index: 2;
    margin-right: calc(var(--spacerX2) * -1);
    box-shadow: var(--shadow-elevation-high);
    @include grid-media($medium) {
      max-height: 250px;
    }
  }

  .article--teaser__promoted-materials img:nth-child(2) {
    max-height: 100px;
    position: relative;
    z-index: 1;
    margin-bottom: var(--spacer);
    box-shadow: var(--shadow-elevation-medium);
    @include grid-media($medium) {
      max-height: 180px;
      margin-bottom: var(--spacerX2);
    }
  }

  .article--teaser__promoted-materials.single {
    @include grid-media($medium) {
      width: calc(var(--subject-col-width) - calc(var(--spacerX2) * 2));
    }
  }

  .article--teaser__promoted-materials.single img {
    margin-right: auto;
    margin-left: auto;
  }

  .ding-carousel {
    max-width: 100vw;
    margin: 0;
    padding: 36px 0;
    overflow: hidden;

    .carousel {
      max-width: var(--carousel-width);
      margin: 0 auto;
    }
  }

  li {
    position: relative;
  }

  li:not(.swiper-slide-active) {
    opacity: 0.2;
    transition: opacity 0.2s ease-out;

    .article--teaser__background-image {
      display: none; /* Hide blurred background on inactive items */
    }
  }

  .ding-carousel:not(.single-slide) li:last-child {
    margin-right: calc(100% - (100% / 3)); // Fix width of last element
  }

  .article--teaser__background-image {
    display: none;
    @include grid-media($medium) {
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(40px);
      width: var(--width);
      display: revert;

      img {
        max-height: 420px;
      }
    }
  }

  .article--teaser__background-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0.5) 65%,
      hsla(0, 0%, 100%, 0.95) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .ding-carousel .carousel__header {
    max-width: var(--carousel-width);
    padding-left: var(--spacerX2);
    padding-right: var(--spacerX2);
    @include grid-media($medium) {
      padding-left: var(--spacerX3);
      padding-right: var(--spacerX3);
    }
  }
}
