@import "../bootstrap/bootstrap";

$teaser-height--default: 370px;
$teaser-height--medium: 400px;

.article {
  font-family: $font-regular;

  // Establish a stacking context, so our covers doesn't overlap other
  // things.
  z-index: 0;

  &__content {
    padding: 2rem 2rem 0;

    @include grid-media($medium) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 3.5rem;
    }
  }

  &__title {
    @include page-header;
  }

  &__byline {
    width: 100%;
    overflow: hidden;
    font-family: $font-regular;
    color: $color__font-gray--dark;
    line-height: $line-height__default;

    &__date {
      float: left;
      font-family: $font-semibold;
      color: $color__font-gray--dark;

      @include grid-media($medium) {
        display: block;
        float: none;
      }
    }

    &__author {
      float: right;

      @include grid-media($medium) {
        display: block;
        float: none;
      }
    }

    @include grid-media($medium) {
      padding-right: 3.5rem;
      order: 2;
      width: 17%;
    }
  }

  &__body {
    padding-bottom: 3.5rem;

    @include grid-media($medium) {
      order: 3;
      width: 83%;
      padding-bottom: 0;
    }
  }

  &__image {
    padding: 2rem 2rem 0;
    margin-bottom: 1.5rem;

    * {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: top;
    }

    @include grid-media($medium) {
      padding: 0;
      margin-bottom: 5rem;
      height: 400px;
    }
  }

  &__materials {
    background-color: $color__material-list-bg;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    padding: 2rem;

    .field-item:last-child {
      .material--teaser {
        border: 0;
      }
    }

    .view-mode-teaser {
      @include grid-media($large) {
        width: 83%;
        float: right;
      }
    }

    @include grid-media($medium) {
      padding: 2rem 0;
    }
  }
}

.field-name-field-article-image {
  img {
    object-fit: cover;
    height: 475px;
    display: block;
  }
}

.article--search-result {
  font-family: $font-regular;

  a {
    text-decoration: none;
  }

  &__left,
  &__right {
    width: 50%;
    float: left;
  }

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    color: $color__font-gray--dark;
    font-family: $font-semibold;
    margin-bottom: 1.5rem;
    line-height: $line-height__small;
    margin-top: calc(50% - 3rem);

    @include grid-media($medium) {
      margin: 0;
    }
  }

  &__cover {
    img {
      height: auto;
      max-height: 194px;
      object-fit: cover;
      object-position: top;
    }

    @include grid-media($medium) {
      padding-right: 3.5rem;
    }
  }

  p {
    @include text-paragraph;
  }

  &__info__inner {
    padding: 0 0 0 2rem;

    @include grid-media($medium) {
      padding: 1.5rem 0 0;
    }
  }
}
