/*
** Styling for template `node--article--view-mode--teaser--image.tpl.php`
** Shows large list image, title and read more button
*/

$teaser-height--default: 370px;
$teaser-height--medium: 400px;

.article--teaser--image {
  display: block;
  height: $teaser-height--default;
  // Bottom padding to leave room for carousel dots. Also, doesn't
  // look too bad on /articles.
  padding: 0;
  color: $color__white;
  background-color: $color__gray--dark;
  // Establish bounding box for image.
  position: relative;

  @include grid-media($medium) {
    max-width: 100vw;
    width: 1049px;
  }

  > a {
    color: $color__white;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;

    @include grid-media($medium) {
      display: block;
    }
  }

  &__title {
    position: relative;
    max-width: 600px;
    margin: 0 auto 2rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: left;
    font-family: $font-light;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
    flex: 0 0;
    float: left;

    @include grid-media($medium) {
      max-width: 100%;
      margin: 0 0 1.2rem;
      text-align: left;
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }

  &__read-more {
    @include outline-button;
    position: relative;
    // Not displayed on mobile.
    display: none;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
    float: right;

    @include grid-media($medium) {
      display: block;
    }
  }

  &__info {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;

    @include grid-media($medium) {
      &__inner {
        width: 100%;
        padding: 0 2rem;
      }
    }
  }

  &__cover {
    position: absolute;
    height: $teaser-height--default;
    width: 1200px;
    max-width: 100%;

    * {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: top;
    }

    @include grid-media($medium) {
      height: $teaser-height--medium;
    }
  }
}
