@import '../bootstrap/bootstrap';

$author-portrait__height--default: 125px;
$author-portrait__height--medium: 250px;

.author-portrait {
  overflow: hidden;
  // Anchor absolutely positioned image.
  position: relative;

  a {
    color: $color__white;
    text-decoration: none;
  }

  &.author-portrait--dark-text a {
    color: $color__font-gray--dark;
  }

  &__container {
    height: $author-portrait__height--default;
    padding: $padding__default;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include grid-media($medium) {
      height: $author-portrait__height--medium;
      padding: $padding__medium;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;


    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
  }

  &__content {
    position: relative; // To make z-index work.
    z-index: 1; // To bring it above the image.
    font-family: $font-regular;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7em;

    @include grid-media($medium) {
      font-size: 1rem;
    }
  }
}
