@import '../bootstrap/bootstrap';

.author-quote {
  // To anchor the icons.
  position: relative;

  a {
    text-decoration: none;
    color: black;
  }
}

.author-quote__wrapper {
  padding: $padding__default;
  background-color: $color__blue--dark;
  color: $color__white;
  height: 175px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @include grid-media($small) {
    height: 230px;
  }

  @include grid-media($medium) {
    padding: $padding__medium;
    height: 250px;
  }

  .author-quote__author {
    text-transform: uppercase;
    font-family: $font-semibold;
    font-size: .8rem;
    margin-bottom: 1rem;

    @include grid-media($medium) {
      font-size: 1rem;
    }
  }

  .author-quote__quote {
    @include quoted;
    font-family: $font-light;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.2rem;

    @include grid-media($medium) {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }

  .author-quote__attribution {
    font-family: $font-regular;
    font-size: .7rem;

    @include grid-media($medium) {
      font-size: .8rem;
    }

    q {
      @include quoted;
    }
  }
}
