@import "../bootstrap/bootstrap";

.ding-carousel {
  @include content-wrapper;
  position: relative;

  .button-prev,
  .button-next {
    background: $page-bg;
    border: 1px solid $color__border-gray--light;
    border-radius: 1px;
    font-size: 0;
    padding: 0.75rem;
    float: right;
    margin-top: -0.4rem;
    margin-left: 1rem;
    // Don't display per default (mobile first). And we have to use
    // important because Slick sets the display on the element.
    display: none !important;

    @include grid-media($medium) {
      // Show arrows on larger sizes.
      display: inline-block !important;
    }

    &::before {
      @include icon;
      color: $color__gray;
      font-size: 0.75rem;
      text-indent: 0;
    }
  }

  .button-prev::before {
    content: $icon__arrow-left;
  }

  .button-next::before {
    content: $icon__arrow-right;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    padding: $padding__default 0;
    width: 100%;
    text-align: center;

    // Hide generally. We'll add overrides for specific carousels later.
    // scss-lint:disable ImportantRule
    display: none !important;

    li {
      display: inline-block;
    }

    button {
      background: none;
      border: 0;
      font-size: 0;

      &::before {
        @include icon;
        content: $icon__circle;
        color: $color__gray;
        font-size: 0.75rem;
        text-indent: 0;
      }
    }

    .slick-active button::before {
      color: $color__gray--light;
    }
  }

  .carousel__header {
    @include content-wrapper-no-padding;
    @include base-header;

    // Don't show header for the article carousel on the article page,
    // on mobile.
    .article__other-articles & {
      display: none;

      @include grid-media($medium) {
        display: block;
      }
    }
  }

  .carousel__more-link {
    @include outline-button($color__font-gray--dark, $color__border-gray--dark);
    float: right;
    margin-top: -0.4rem;
    margin-left: 1rem;
  }
}

// Spacing between carousel items.
.ding-carousel-item {
  padding-right: 20px;

  @include grid-media($medium) {
    padding-right: 40px;
  }

  @include grid-media($large) {
    padding-right: 60px;
  }

  &.placeholder {
    // TODO https://jira.itkdev.dk/browse/ER-1360 This is too much on small displays.
    min-height: 336px;
    min-width: 225px;

    .icon-spinner {
      position: relative;
      display: block;
      width: 84px;
      height: 84px;
      margin: 0 auto 20px;

      &::after {
        animation: spin 4s linear infinite;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/placeholder.png") no-repeat;
        background-size: 100% auto;
      }
    }
  }

  // Remove it from the last.
  &:last-child {
    padding-right: 0;
  }
}

// Paragraph specific tweaks.
.paragraphs-item-article-carousel,
.paragraphs-item-picked-article-carousel,
.article__other-articles {
  .ding-carousel-item {
    width: 100vw;
    padding-right: 0;

    @include grid-media($medium) {
      width: auto;
      padding-right: 40px;
    }

    @include grid-media($large) {
      padding-right: 60px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  // Show dots.
  .slick-dots {
    // scss-lint:disable ImportantRule
    display: block !important;

    // ..but not on desktop.
    @include grid-media($medium) {
      // scss-lint:disable ImportantRule
      display: none !important;
    }
  }
}

// Make carousel placeholders have the same size as the actual slides
// (cf. `.article--teaser` in `_article.scss')
.article__other-articles {
  .ding-carousel-item {
    &.placeholder {
      @include grid-media($medium) {
        padding: 2rem 4rem;
        max-width: 100vw;
        width: 1049px;
      }
    }
  }
}

// scss-lint:disable MergeableSelector
// Content specific tweaks.
.ding-carousel .article-placeholder {
  // Hide the read more "link".
  .article--teaser__read-more {
    display: none;
  }
}

// The following has been taken from ding_carousel.css. This avoils load jumping.
.ding-carousel {
  // Hide the overflow of the extra wide ul below.
  overflow: hidden;
}

.ding-carousel ul {
  display: flex;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ding-carousel li {
  display: inline-block;
  flex: none;
}

// Center slide if there is only one

.ding-carousel.single-slide {
  ul.carousel {
    justify-content: center;

    .ding-carousel-item > div {
      @include grid-media($large) {
        width: 1080px;
      }
    }
  }
}
