.paragraphs-item-category-list {
  --item-category-list-spacing: 16px;
  --text-color: white;

  margin-top: calc(var(--item-category-list-spacing) * 2);
  @include grid-media($medium) {
    margin-top: 0;
  }

  @include content-wrapper;
  padding: 0;

  .field-name-field-categories .field-items {
    display: grid;
    // @see https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: minmax(0, 1fr);
    gap: var(--item-category-list-spacing);

    @include grid-media($medium) {
      // @see https://css-tricks.com/preventing-a-grid-blowout/
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    /* div.field-item styles */
    > div {
      width: 100%;
    }

    /* List item styles */
    .list-item {
      color: var(--text-color);
      overflow: hidden;
      position: relative;

      .category-list-item-image {
        position: absolute;
        top: -65%;
        right: -15%;
        height: 260%;
        width: auto;
        max-width: revert;
        opacity: 0.5;
        transform: rotate(30deg);
      }

      a {
        font-size: calc(calc(20 / 16) * 1rem); /* 20px font-size */
        display: block;
        text-decoration: none;
        color: inherit;
        padding: calc(var(--item-category-list-spacing) * 1.75);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        &::after {
          content: "›";
          position: absolute;
          top: var(--item-category-list-spacing);
          right: calc(var(--item-category-list-spacing) * 1.75);
          font-size: calc(calc(40 / 16) * 1rem); /* 24px font-size */
        }
      }
    }
  }

  .secondary-items {
    // https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-2-transform-scaley
    .content {
      margin-top: var(--item-category-list-spacing);
      overflow: hidden;
      transition: height 0.25s ease-out;
      @media (prefers-reduced-motion) {
        transition: none;
      }
      height: auto;
    }

    .show-fewer-items {
      display: none;
    }

    &.expanded {
      > div:first-child {
        /* height: 200px; */
      }

      .show-fewer-items {
        display: initial;
      }

      .show-more-items {
        display: none;
      }
    }

    .buttons {
      margin-top: var(--item-category-list-spacing);
      text-align: center;

      button {
        padding: var(--item-category-list-spacing);
        border: 1px solid $color__geist--grey3;
        color: $color__geist--grey3;
        width: fit-content;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
