// Dialog popup widget.

.ui-dialog {
  // There's a race condition between ui.Dialogs CSS and JS when being loaded
  // through ajax. The CSS sets the position to absolute for the dialog element.
  // The positioning code checks if the dialog element have position: static,
  // and sets it to relative if that's the case. Relative positioning causes it
  // to fail and render the dialog at full window width. For authenticated
  // users, the CSS is added to the page head (trigged by something unknown),
  // but for anonymous users, the CSS is loaded through the ajax request,
  // which can get beaten by the JS. So we'll just ensure that the dialog
  // element has position: absolute.
  // position: absolute;
  border-radius: 0;
  margin: 0 auto;
  // top: 100px !important;
  // position: absolute !important;
  border: 0;
  // Adjusted so videos will fit.
  max-width: 730px;
  max-height: 90%;
  box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 30px;
  text-align: center;
  overflow-y: auto;

  &.try-ebook,
  &.try-audiobook {
    // Ensure that the frame will fit.
    max-height: none;
    // Closer to top of window to get more room.
    top: 30px !important;
    // Full width popup for audio books.
    max-width: 1180px;
    // Let the player/reader of the try popup overflow so it can go full page.
    overflow-y: visible;
  }

  &,
  .ui-widget-header,
  .ui-dialog-content {
    color: $color__gray;
    font-family: $font-light;
  }

  a {
    & {
      color: $color__white;
      text-align: center;
    }
  }

  form {
    text-align: left;

    .form-actions {
      text-align: center;
      // display: flex;
      // justify-content: space-between;
    }
  }

  .action-button {
    @include button;
  }

  .ui-corner-all {
    border: 0;
    background: #fff;
    border-radius: 5px;
  }

  .ui-dialog-titlebar {
    margin: 0;
    padding: 0;
    font-family: $font-regular;
    text-transform: uppercase;

    .ui-dialog-title {
      width: auto;
      float: none;
    }

    .ui-dialog-title {
      display: block;
    }

    .ui-dialog-titlebar-close {
      top: 0;
      right: 0;
      position: absolute;
      font-size: 10px;
      padding: 0;
      margin: 0;

      @include grid-media($medium) {
        top: 0;
        right: 15px;
      }
    }
  }

  .ui-icon-closethick {
    // Resetting.
    text-indent: inherit;
    background: none;
    height: 18px;
    width: 18px;

    &::before {
      @include icon;
      content: $icon__cross;
      font-size: 16px;
    }
  }

  @include grid-media($medium) {
    min-width: 600px;
  }
}

.ui-widget-overlay {
  opacity: 0.4;
}

// Specific dialogs.

#ding-reservation-delete-reservations-form {
  a {
    @include button;

    display: inline-block;

    @include grid-media($small) {
      width: 49%;

      &#edit-cancel {
        float: right;
      }
    }
  }
}
