@import "../bootstrap/bootstrap";

.faq-content {
  @include content-wrapper;
  padding: 2rem 2rem 0;
}

.faq-category-menu {
  font-family: $font-regular;

  .faq-qa-header {
    font-family: $font-light;
    font-size: 2rem;
    color: $color__font-gray;
    margin: 1rem 0;
  }

  .faq-qa {
    li {
      padding: 0.5rem 0;
    }

    a {
      color: $color__link__default;
    }
  }
}

.faq-question {
  font-family: $font-semibold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}

.faq-answer {
  @include text-paragraph;
  padding: 0;
  margin: 0;
}
