@import "../bootstrap/bootstrap";

.footer {
  background-color: $footer-bg;
  color: $color__white;
  font-size: 100%;
  font-family: $font-regular;
  overflow: hidden;
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 2rem;

  &__inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    @include grid-media($medium) {
      display: flex;
      padding: 4rem 0;
    }
  }

  &__brand {
    background-color: $color__white;

    padding: 1rem 0;
    display: flex;
    place-content: center;
  }

  &__ddf {
    padding: 48px 0;
    display: flex;
    place-content: center;
    column-gap: 48px;
    p {
      line-height: 1.25;
    }
    a {
      color: inherit;
    }
  }

  .menu {
    a {
      text-transform: none;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: none;
    margin: 0;
    padding: 0;

    @include grid-media($medium) {
      display: block;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0;

      @include grid-media($medium) {
        display: block !important;
      }
    }
  }

  .panel-pane {
    a {
      display: block;
      color: $color__font-gray--light;
      font-size: 1.1rem;
      text-decoration: none;
      padding: 1rem 2rem;
    }

    @include grid-media($medium) {
      flex: 1;
    }
  }

  .pane-title {
    color: $color__white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0;
    padding: 2rem;

    @include grid-media($medium) {
      border-top: none;
    }
  }

  .leaf {
    margin: 0;
  }
}
