@import "../bootstrap/bootstrap";

.site-header {
  background: white;
}

.topbar {
  .pane-main-menu {
    width: 100%;
  }
}

.topbar__inner {
  display: flex;
  justify-content: space-between;

  @include grid-media($medium) {
    @include content-wrapper;
  }
}

.branding {
  padding: 12px;

  @include grid-media($medium) {
    padding: 12px 0;
    max-height: 70px;
  }
}

.branding__logo {
  display: inline-block;

  img {
    height: 100%;

    @include grid-media($medium) {
      max-height: 70px;
    }
  }
}

.pane-reol-profile-link {
  position: absolute;
  top: 0;
  left: 0;

  @include grid-media($medium) {
    left: auto;
    right: 3.75rem;
  }
}

.user-login-form {
  &::after {
    content: "";
    margin-top: 36px;
    display: inline-block;
    background-image: url("../../svg/eReolen-Red.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 100%;
  }
}
