$menu-height__default: 3rem;
$menu-height__medium: 5rem;

.menu-name-main-menu {
  // List styling for first and second level.
  > ul {
    margin: 0 $padding__default/2;
    @include grid-media($medium) {
      margin: 0 $padding__default;
    }
  }

  // Item styling.
  li {
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    // Don't leave room for descenders at bottom.
    vertical-align: top;

    @include grid-media($medium) {
      height: 100%;
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      font-family: $font-semibold;
      font-size: 0.75rem;
      line-height: $menu-height__default;
      display: block;
      padding: 0;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include grid-media($medium) {
        font-size: 1rem;
        line-height: $menu-height__medium;
        height: 100%;
        display: block;
      }
    }
  }

  // Top level menu.
  &.menu-level-1 {
    background-color: $color__white;
    color: $color__font-gray--dark;

    // Fix position to bottom for an app like experience on mobile
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);

    @include grid-media($medium) {
      position: initial;
      box-shadow: initial;
    }

    ul {
      display: flex;
      justify-content: center;

      @include grid-media($medium) {
        justify-content: end;
      }
    }

    li {
      text-align: center;
      margin-right: 24px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      display: block;
      color: currentColor;
      font-size: 0.85rem;
      line-height: 1;
      margin: 12px 0;

      // Icons
      &:before {
        content: "";
        display: block;
        height: 26px;
        margin-bottom: 6px;
        // We are using a mask for the icon to be
        // able to change the color of the icon
        // on `:hover` and when in active trail.
        // The icon color i defined with the `background-color`
        background-color: $color__font-gray--dark;

        // Add a default icon - Information
        -webkit-mask: url(../../svg/iconmenu-info.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-info.svg) no-repeat 50% 50%;

        // -webkit-mask-size: cover;
        // mask-size: cover;
      }

      &:after {
        content: "";
        background-color: $color__font-gray--dark;
        display: block;
        width: 20px;
        height: 2px;
        position: relative;
        left: calc(50% - 10px);
        margin-top: 6px;
        transition: width 0.1s ease-out, left 0.1s ease-out;

        // Remove transitions for users wich prefers reduced motion
        @media (prefers-reduced-motion) {
          transition: none;
        }
      }

      &:hover {
        color: currentColor;

        &:before {
          background-color: $color__red;
        }

        &:after {
          background-color: $color__red;
          width: 100%;
          left: 0;
          transition: width 0.2s ease-in, left 0.2s ease-in;

          // Remove transitions for users wich prefers reduced motion
          @media (prefers-reduced-motion) {
            transition: none;
          }
        }
      }
    }

    .active-trail a {
      color: currentColor;

      &:before,
      &:after {
        background-color: $color__red;
      }

      &:after {
        width: 100%;
        left: 0;
      }
    }

    // Icons for menus

    // Home
    .iconmenu-home a {
      &:before {
        -webkit-mask: url(../../svg/iconmenu-home.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-home.svg) no-repeat 50% 50%;
      }
    }

    // Inspiration
    .iconmenu-inspiration a {
      &:before {
        -webkit-mask: url(../../svg/iconmenu-inspiration.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-inspiration.svg) no-repeat 50% 50%;
      }
    }

    // Help
    .iconmenu-help a {
      &:before {
        -webkit-mask: url(../../svg/iconmenu-faq.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-faq.svg) no-repeat 50% 50%;
      }
    }

    // E-books
    .iconmenu-e-books a {
      &:before {
        -webkit-mask: url(../../svg/iconmenu-e-book.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-e-book.svg) no-repeat 50% 50%;
      }
    }

    // Audiobooks
    .iconmenu-audiobooks a {
      &:before {
        -webkit-mask: url(../../svg/iconmenu-audiobook.svg) no-repeat 50% 50%;
        mask: url(../../svg/iconmenu-audiobook.svg) no-repeat 50% 50%;
      }
    }

    // Login
    // Icon style is placed in `_user.scss`
  }

  // Submenu.
  &.menu-level-2 {
    background-color: $color__gray--lighter;
    border-bottom: 1px solid $color__gray--light;
    color: $color__font-gray;

    // Limit the width of the menu to the content width.
    > ul {
      @include grid-media($medium) {
        @include content-wrapper;
      }
    }

    li.expanded {
      // Spacing between items.
      margin-right: 1rem;

      // But not the last.
      &:last-child {
        margin-right: 0;
      }

      > a {
        text-transform: uppercase;

        // Add small triangle down to items.
        &::after {
          @include icon;
          content: $icon__arrow-down;
          font-size: 0.5rem;
          margin-left: 0.5rem;
        }
      }

      ul {
        // Hide submenu per default.
        display: none;
      }

      // Display submenu.
      &.js-active {
        ul {
          display: block;
        }
      }

      // Change the color of the submenu parent item when JS has shown
      // the submenu, but just change color of the arrow icon when the
      // menu is in the active trail.
      &.js-active > a,
      &.js-active > a::after,
      & > a.active-trail::after {
        color: $color__font-gray--dark;
      }

      @include grid-media($medium) {
        > a {
          // Needed for the triangle.
          position: relative;
          overflow: visible;
        }

        // A triangle on the top of the menu.
        &.js-active > a::before {
          content: "";
          color: $color__gray--dark;
          position: absolute;
          width: 0;
          height: 0;
          vertical-align: middle;
          border-bottom: 20px solid;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          right: -16px;
          bottom: -1px;
          z-index: 2;
        }
      }
    }

    // Shared between level 2 and 3.
    a {
      color: $color__font-gray--dark;

      @include grid-media($medium) {
        &:hover {
          color: $color__gray;
        }
      }
    }

    li {
      div {
        @include content-wrapper;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        // Override z-index of carousel arrows.
        z-index: 2;
      }

      ul {
        column-count: 2;
        column-gap: 2rem;
        padding: 1rem $padding__default;
        background-color: $color__gray--dark;

        @include grid-media($medium) {
          display: inline-block;
          column-width: 13rem;
          column-count: auto;
          padding: $padding__medium;
        }

        li {
          display: block;
        }

        a {
          color: $color__font-gray--light;
          font-family: $font-regular;
          padding: 0;
          @include grid-media($medium) {
            line-height: 2rem;
          }

          &.active-trail {
            color: $color__white;
          }
        }
      }
    }
  }
}
