@import '../bootstrap/bootstrap';

// Newsletter element
form.mailchimp-signup-subscribe-form {
  @include content-wrapper;

  padding-top: 2rem;
  padding-bottom: 2rem;

  @include grid-media($medium) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  > div {
    position: relative;
  }

  .mailchimp-signup-subscribe-form-description {
    margin-bottom: 2rem;

    p {
      text-transform: uppercase;
      font-family: $font-semibold;
      font-size: 1rem;
      color: $color__gray;
      margin-bottom: .8rem;
    }

    h2 {
      font-family: $font-semibold;
      font-size: 1rem;
      font-weight: normal;
      color: $color__gray;
    }
  }

  .form-item {

    label[for] {
      display: none;
    }

    input[type="text"] {
      width: 100%;
      border: 0;
      outline: none;
      background: transparent;
      font-family: $font-regular;
      font-size: 2rem;
      border-bottom: 2px solid $color__geist--hr;
      padding: 1rem 0;
      color: $color__geist--grey4;
      padding-right: 4rem;

      &:focus {
        outline: none;
      }
    }
  }

  .form-actions {
    position: absolute;
    bottom: 1rem;
    right: 0;

    input[type="submit"] {
      // Reset button styling, hide default text
      -webkit-appearance: none;
      text-indent: -9999px;
      overflow: hidden;
      // make into circle
      width: 3.2rem;
      height: 3.2rem;
      border: 1px solid $color__geist--hr;
      border-radius: 1.6rem;
      background-color: $color__geist--grey5;
      // Using a background SVG because we can't use ::before on input
      // elements, and changing it to button is way too difficult.
      background-image: url('../../svg/white-arrow-right.svg');
      background-size: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}

// Newsletter form used in app
body.page-nyhedsbrev-app,
body.page-nyhedsbrev-web {

  .pane-page-content {
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  .pane-title {
    font-size: 1.8rem;
    font-family: $font-semibold;
  }

  // in case the form changes name and gets a new classname
  form[class^="mailchimp-"] {
    // include all the default form stylings from _mixins.scss:87
    @include form-default;
    // overwrite submit button
    input[type="submit"].form-submit {
      padding: 0 1rem;
      margin-top: 0;
    }

    .form-required {
      color: $color__red;
    }
  }

  form.mailchimp-signup-subscribe-form {

    .form-actions {
      position: relative;
      bottom: auto;
      right: auto;

      &::after {
        display: none;
      }

      input[type="submit"] {
        text-indent: 0;
      }
    }
  }
}
