@import "../bootstrap/bootstrap";

.overdrive-message {
  @include content-wrapper;
  padding: 1rem;

  .actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    @include grid-media($medium) {
      row-gap: 0;
      column-gap: 2rem;
      justify-content: center;
      flex-direction: row;
    }
  }

  .action-button {
    margin: 0;
    text-decoration: none;

    &.modal-close {
      background: #444;
    }
  }
}
