@import '../bootstrap/bootstrap';

.page {
  &__content {
    padding: 2rem 2rem 0;

    @include grid-media($medium) {
      padding: 0 0 3.5rem;
    }
  }

  &__title {
    @include page-header;
  }

  &__body {
    position: relative;
    padding-bottom: 3.5rem;

    @include grid-media($medium) {
      order: 1;
    }

    img {
      margin: 2rem 0;
    }
  }

  &__files {
    @include text-paragraph;
  }
}
