@import "../bootstrap/bootstrap";

.ting-object.view-mode-compact {
  // See also grid view in _search.scss.
  .field-name-ting-title h2 {
    font-family: $font-regular;
    color: $color__font-gray--dark;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;

    @include grid-media($medium) {
      max-width: 180px;
    }
  }

  // Always hide rating widget.
  .field-type-ding-entity-rating-action {
    display: none;
  }

  .field-name-ting-author {
    font-family: $font-light;
    color: $color__font-gray--dark;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    max-width: 120px;

    @include grid-media($medium) {
      max-width: 180px;
    }
  }

  .field-name-ting-details-language {
    font-family: $font-light;
    color: $color__font-gray--dark;
    font-size: 14px;
    margin-top: 4px;

    .field-item::before {
      @include icon;
      color: $color__font-gray--dark;
      font-size: 12px;
      margin-right: 0.2rem;
      content: $icon__language;
    }
  }

  // Make language and series line up on one line.
  .field-type-ting-details-language,
  .field-type-ting-details-language div {
    display: inline-block;
    vertical-align: top;
  }

  .field-type-ting-series,
  .field-type-ting-series div {
    display: inline;
  }

  .field-type-ting-series {
    font-family: $font-light;
    color: $color__font-gray--dark;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 0.5em;
    max-width: 68px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include grid-media($medium) {
      max-width: 92px;
    }

    .material__series-number {
      &::before {
        @include icon;
        content: $icon__stack-solid;
        color: $color__font-gray--dark;
        font-size: 12px;
        margin-right: 5px;
      }
    }

    .material__series-number + .material__series-series {
      &::before {
        content: " – ";
      }
    }
  }
}
