.reader__back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 22px;

  &::before {
    font-family: $font-fontawesome;
    content: '\f060';
    position: relative;
  }

  color: #777;

  .nightmode {
    & {
      color: #999;
    }
  }
}
