.paragraphs-item-video-bundle {
  --color-dark: #111;
  --color-light: #eee;
  --text-color: var(--color-light); /* Set base color in a variable */
  --spacer: 16px;

  &.video-bundle-color-dark {
    /* Change base color in variable, if dark is preffered */
    --text-color: var(--color-dark);
  }

  color: var(--text-color); /* Apply basecolor from variable to text */
  font-family: $font-regular;
  margin: 60px 0;
  padding: 0 0 var(--spacer) 0;
  @include grid-media($medium) {
    padding: 60px var(--spacer) 30px var(--spacer);
  }

  /* Specific color overrides on material */
  .material__title,
  .material__title a,
  .material__author,
  .material__author a,
  .material__language,
  .material__language a {
    color: var(--text-color);
    font-family: $font-regular;
  }

  /* Center content*/
  & > .content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Title */
  .video_bundle__title {
    @include base-header;
    padding: 40px 0 20px;
    color: var(--text-color);
    font-size: calc(calc(42 / 16) * 1rem);
    line-height: 1.15;
  }

  /* Video description */
  .video_bundle__description {
    font-family: $font-regular;
    color: var(--text-color);
    font-size: calc(calc(18 / 16) * 1rem);
    font-weight: 400;
    line-height: 1.25;
  }

  /* Title and video placement */
  .video_bundle__video-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include grid-media($medium) {
      gap: 30px;
      grid-template-columns: 1fr 3fr;
    }
  }

  .video_bundle__video {
    position: relative; // Keep .expand-parent-to in place.
    order: -1; /* Move to top */

    @include grid-media($medium) {
      order: revert;
    }
  }

  /* Strech iframed video to container */
  // @see https://css-tricks.com/fluid-width-video/#iframe-video-youtube-vimeo-etc
  .media-videotool-video,
  .media-youtube-video {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video_bundle__title,
  .video_bundle__description,
  .video_bundle__promoted-materials-wrapper {
    padding: 0;
    margin: var(--spacer);
    @include grid-media($medium) {
      margin: var(--spacer) 0;
    }
  }

  .video_bundle__promoted-materials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: var(--spacer);
  }

  .video_bundle__promoted-materials-see-more a {
    @include button;
    background-color: transparent;
    border: 1px solid #fff;
    text-decoration: none;
    display: block;
    margin-top: 0;

    &:hover {
      background-color: hsla(0, 0, 100, 0.1);
    }
  }

  .field-name-field-video-bundle-materials > .field-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include grid-media($small) {
      grid-template-columns: repeat(4, 1fr);
    }
    gap: calc(var(--spacer) * 2);
  }

  .field-name-field-video-bundle-materials .field-item,
  .field-name-field-video-bundle-materials .material__content {
    padding: 0;
    margin: 0;
  }

  /*
  * Make some adjustments to the material item view
  */
  .material {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .material__cover--teaser {
    width: 100%;
    aspect-ratio: 240 / 375;
  }

  .material__cover--teaser img {
    height: auto;
    object-fit: cover;
    object-position: center;

    @include grid-media($medium) {
      max-height: 375px;
    }
  }

  .material__title h2 {
    font-size: calc(calc(16 / 16) * 1rem);
    hyphens: auto;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .material__abstract, /* Hide abstract from view */
  .material__subjects, /* Hide subjects from view */
  .material__series /* Hide series from view */ {
    display: none;
  }

  /* Set different order on items */
  .material__content {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .material__title {
    order: 2;
    margin: calc(var(--spacer) / 2) 0;
  }
  .material__author {
    order: 3;
    margin: 0;
  }
  .material__language {
    order: 1;
    margin: calc(var(--spacer) / 2) 0 0 0;
  }
}
